{preload_replace:chnl="login"}

{embed="layout/_header" page_id="{entry_id}"}

 {!-- Need to redirect on home page if user is already login --}
{if logged_in}
    {!-- Need to check login user have account with current site only --}
    {exp:member:custom_profile_data member_id="{logged_in_member_id}"}
        {if custom_user_group == site_short_name}
            {redirect='/'}
        {/if}
    {/exp:member:custom_profile_data}
{/if}

<?php
     $heading = 'Login';
     $sub_heading = '';
     $description = '';
 ?>
{exp:channel:entries cache="yes" refresh="360" channel="settings" limit="1" dynamic="no"}
    {member_pages_details search:page="Login"}
        <?php
            $heading = '{member_pages_details:heading}';
            $sub_heading = '{member_pages_details:sub_heading}';
            $description = '{member_pages_details:description}';
        ?>
    {/member_pages_details}
{/exp:channel:entries}

<section class="page-content__inner grid">
    {embed="layout/_content-area" number="c1" type="intro-alpha" page_id="{entry_id}" chnl="{chnl}" breadcrumbs="true"}

    <div class="grid__row box">
        <div class="grid__column grid__column sm--column-12-12 med--column-12-12">            
            <header class="heading line--heading">
                <h1 class="heading__title member-heading">
                    <span class="line__span"><?php echo $heading; ?></span>
                </h1>
                <?php if ($sub_heading) { ?>
                    <h2 class="heading__subtitle subtitle--alpha">
                        <?php echo $sub_heading; ?>
                    </h2>
                <?php } ?>
            </header>
        </div>

        <div class="grid__column grid__column sm--column-12-12 med--column-8-12">

            <?php if ($description) { ?>
                <p><?php echo $description; ?></p>
            <?php } ?>

            {exp:freemember:login return="PREVIOUS_URL"}
                <div class="member-form member-form__login grid">
                    <?php
                        if (isset($_GET['register']) && $_GET['register'] == 'yes') {
                            $registerThanksMessage = "Thank you for registering with us.";
                            //updated thanks message for stud site
                            if ('{site_id}' == 16) {
                                $registerThanksMessage .= " You will receive an email from us, confirming your registration request.";
                            }
                    ?>
                        <div class="grid__column column--alpha sm--column-12-12 med--column-9-12 thanks_msg">
                            <span><?php echo $registerThanksMessage; ?></span>
                        </div>
                    <?php } ?>

                     <?php if (isset($_GET['reset_password']) && $_GET['reset_password'] == 'yes') { ?>
                        <div class="grid__column column--alpha sm--column-9-12 med--column-9-12 thanks_msg">
                            <span>Password has been changed successfully.</span>
                        </div>
                    <?php } ?>
                    
                    <?php if (isset($_GET['forgot_password']) && $_GET['forgot_password'] == 'yes') { ?>
                        <div class="grid__column column--alpha sm--column-9-12 med--column-9-12 thanks_msg">
                            <span>A link to reset your password has been sent. Please check your email.</span>
                        </div>
                    <?php } ?>

                    {!-- if user is login and has not account with current site --}
                    {if logged_in}
                        <div class="grid__column column--alpha sm--column-9-12 med--column-9-12 thanks_msg">
                            <span>You are not authorised to access this page.</span>
                        </div>
                    {/if}

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <label>Email</label>
                        <input placeholder="Type your email here" value="{email}" type="email" name="email">
                        <span class="error__msg">{error:email}</span>
                    </div>

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <label>Password</label>
                        <input placeholder="Type your password here" type="password" name="password">
                        <span class="error__msg">{error:password}</span>
                    </div>

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <input class="member-form__input-submit" type="submit" name="submit" value="Login">
                    </div>

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <a class="" href="{path='login/forgot_password'}">Forgot your password?</a>
                    </div>

                </div>
            {/exp:freemember:login}
        </div>

        <div class="grid__column grid__column sm--column-12-12 med--column-4-12">
            <div class="member-form__sub-item">
                <h3>Not registered?</h3>
                <a href="{path='login/register}">REGISTER</a>
            </div>
        </div>
    </div>

</section>

{embed="layout/_footer"}