{exp:channel:entries cache="yes" refresh="360" channel="accommodations" dynamic="yes"  status="{publisher:entry_status}"
           require_entry="yes"
           show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
           show_expired="{if get_post:publisher_status != ''}yes{/if}"}
    {accommodations_hotels row_id="{embed:row_id}"}
        <div class="{embed:class}">
            <div class="listing__desc grid__column sm--column-12-12 med--column-3-12">
                <div class="rating-container">
                    <div class="star-rating-block">
                        <p>STAR RATING</p>
                        <div class="rating-block-sml">
                            <img src="/images/star_big_icon.png" alt="Star Rating">
                            <span>{star_rating}</span>
                        </div>
                        <div class="star-block">
                            {if star_rating == 5}
                                <span class="active">&nbsp;</span>
                                <span class="active">&nbsp;</span>
                                <span class="active">&nbsp;</span>
                                <span class="active">&nbsp;</span>
                                <span class="active">&nbsp;</span>
                            {if:elseif star_rating == 4}
                                <span class="active">&nbsp;</span>
                                <span class="active">&nbsp;</span>
                                <span class="active">&nbsp;</span>
                                <span class="active">&nbsp;</span>
                                <span>&nbsp;</span>
                            {if:elseif star_rating == 3}
                            <span class="active">&nbsp;</span>
                                <span class="active">&nbsp;</span>
                                <span class="active">&nbsp;</span>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                            {if:elseif star_rating == 2}
                                <span class="active">&nbsp;</span>
                                <span class="active">&nbsp;</span>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                            {if:else}
                                <span class="active">&nbsp;</span>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                            {/if}                            
                        </div>
                    </div>
                    <div class="price-range-block">
                        <p>PRICE RANGE</p>
                        <div class="resize-block">
                            {if price_rating == 5}
                                <span style="width: 100%">&nbsp;</span>
                            {if:elseif price_rating == 4}
                                <span style="width: 80%">&nbsp;</span>
                            {if:elseif price_rating == 3}
                                <span style="width: 60%">&nbsp;</span>
                            {if:elseif price_rating == 2}
                                <span style="width: 40%">&nbsp;</span>
                            {if:else}
                                <span style="width: 20%">&nbsp;</span>
                            {/if}

                            <div class="hypen-block">
                                <span class="low">|</span>
                                <span class="med">|</span>
                                <span class="high">|</span>
                            </div>
                        </div>
                        <div class="rating-indicator">
                            <span class="low">LOW</span>
                            <span class="med">MED</span>
                            <span class="high">HIGH</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    {/accommodations_hotels}
{/exp:channel:entries}