{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    <header class="heading line--heading">
        {{embed:area}_headings}
        <h1 class="heading__title"><span class="line__span">{heading}</span></h1>
        <h2 class="heading__subtitle subtitle--alpha">{sub_heading}</h2>
        {/{embed:area}_headings}
    </header>

{/exp:channel:entries}

{exp:channel:entries cache="yes" refresh="360"
    channel="settings"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    dynamic="no"
}
    <section class="plain-listing">
        {exp:essence_facebook page_uri="{setting_facebook_page}" item_count="3"}
            <article class="plain-listing__item">
                <time class="plain-listing__subtitle">{time}</time>
                <p class="plain-listing__desc">{message}</p>
                {if '{picture}' != ''}

                    <a href="{post_url}" target="_blank" title="More information"><img src="{picture}" alt="{message}"/></a>
                {/if}
                <p>
                    <a href="{post_url}" class="link link--sm link--sm--faux-btn" target="_blank" title="More information">More information</a>
                </p>
            </article>
            {if '{last}' != 'y'}
            <div class="divider">
                <div class="divider__diamond"></div>
            </div>
            {/if}
        {/exp:essence_facebook}
    </section>

{/exp:channel:entries}