{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    <div class="grid__row box box--charlie box--sm no--pb">
        <ul data-tabgroup="" class="tabbed-list tabbed--beta tabbed-borderBot">
            {{embed:area}_tabs}
                <li class="tabbed-list__item">
                    <label class="tabbed-list__link {if row_count == 1}is-selected{/if}" data-tab="" aria-label="tb-id-{row_count}" id="tab-a-{row_count}">
                        <span>{heading}</span>
                    </label>
                </li>
            {/{embed:area}_tabs}
        </ul>
    </div>

    <div class="grid__row box box--sm">

        <div class="grid__column sm--column-12-12 med--column-12-12">

            {{embed:area}_tabs}
                <section aria-labelledby="tab-a-{row_count}" class="tab-content grid grid--alpha {if row_count != 1}is-hidden{/if}" id="tb-id-{row_count}">
                    <header class="heading line--heading">
                        <h1 class="heading__title"><span class="line__span span--alpha">{heading}</span></h1>
                        <h2 class="heading__subtitle subtitle--alpha">
                            {sub-heading}
                        </h2>
                    </header>
                    <p>{content}</p>
                </section>
            {/{embed:area}_tabs}

        </div>

    </div>

{/exp:channel:entries}