{preload_replace:chnl="login"}

{embed="layout/_header" page_id="{entry_id}"}

{!-- Need to redirect on home page if user is already login --}
{if logged_in}
    {redirect='/'}
{/if}

<?php
     $heading = 'Forgot Password';
     $sub_heading = '';
     $description = '';
 ?>
{exp:channel:entries cache="yes" refresh="360" channel="settings" limit="1" dynamic="no"}
    {member_pages_details search:page="Forgot Password"}
        <?php
            $heading = '{member_pages_details:heading}';
            $sub_heading = '{member_pages_details:sub_heading}';
            $description = '{member_pages_details:description}';
        ?>
    {/member_pages_details}
{/exp:channel:entries}

<section class="page-content__inner grid">
    {embed="layout/_content-area" number="c1" type="intro-alpha" page_id="{entry_id}" chnl="{chnl}" breadcrumbs="true"}

    <div class="grid__row box">
        <div class="grid__column grid__column sm--column-12-12 med--column-12-12">            
            <header class="heading line--heading">
                <h1 class="heading__title member-heading">
                    <span class="line__span"><?php echo $heading; ?></span>
                </h1>
                <?php if ($sub_heading) { ?>
                    <h2 class="heading__subtitle subtitle--alpha">
                        <?php echo $sub_heading; ?>
                    </h2>
                <?php } ?>
            </header>
        </div>

        <div class="grid__column grid__column sm--column-12-12 med--column-8-12">

            <?php if ($description) { ?>
                <p><?php echo $description; ?></p>
            <?php } ?>

            {exp:freemember:forgot_password return="login?forgot_password=yes" reset="/login/reset_password" error_handling="inline" error_delimiters='<span class="error">|</span>'}
                <div class="member-form member-form__login grid">
                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <label>Email</label>
                        {field:email}
                        <span class="error__msg">{error:email}</span>
                    </div>

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <input class="member-form__input-submit" type="submit" name="submit" value="Forgot Password">
                    </div>

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <a class="" href="{path='login/register}">Register</a>
                    </div>
                </div>
            {/exp:freemember:forgot_password}
        </div>

        <div class="grid__column grid__column sm--column-12-12 med--column-4-12">
            <div class="member-form__sub-item">
                <h3>Already have an account?</h3>
                <a href="{path='login'}">SIGN IN</a>
            </div>
        </div>
    </div>

</section>

{embed="layout/_footer"}