{preload_replace:chnl="home"}

{exp:channel:entries cache="yes" refresh="360"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    {if no_results}
        {redirect="404"}
    {/if}

    {embed="layout/_header" show_hero="y" advanced_hero="y" page_channel="{chnl}" page_id="{entry_id}"}



    {if {chnl}_sponsorship == 'on' && {chnl}_spon_bar_image && {chnl}_spon_bar_bg}
        <div class="sponsor-box" style="background:{{chnl}_spon_bar_bg}">
            <img alt="{{chnl}_spon_bar_alt}" src="{{chnl}_spon_bar_image}">
        </div>
    {/if}
<!-- TESTER CMC1 {home_sponsorship} = {chnl}_sponsorship = {{chnl}_sponsorship} -->
    <section id="custom-hero-content" class="grid grid--alpha promo-box-container">
        <div class="grid__row box box--gamma no--pt no--pb">
            <div class="grid__column column--alpha grid__column sm--column-12-12 med--column-4-12">
                {embed="layout/_content-area" number="s1" page_id="{entry_id}" chnl="{chnl}"}
            </div>
            <div class="grid__column column--alpha grid__column sm--column-12-12 med--column-4-12">
                {embed="layout/_content-area" number="s2" page_id="{entry_id}" chnl="{chnl}"}
            </div>
            <div class="grid__column column--alpha grid__column sm--column-12-12 med--column-4-12">
                {embed="layout/_content-area" number="s3" page_id="{entry_id}" chnl="{chnl}"}
            </div>
        </div>
	{if {chnl}_sponsorship == 'on'}
        <div class="grid__row box box--gamma no--pt no--pb">
            <div class="grid__column column--alpha grid__column sm--column-12-12 med--column-4-12">
                {embed="layout/_content-area" number="s4" page_id="{entry_id}" chnl="{chnl}"}
            </div>
            <div class="grid__column column--alpha grid__column sm--column-12-12 med--column-4-12">
                {embed="layout/_content-area" number="s5" page_id="{entry_id}" chnl="{chnl}"}
            </div>
            <div class="grid__column column--alpha grid__column sm--column-12-12 med--column-4-12">
                {embed="layout/_content-area" number="s6" page_id="{entry_id}" chnl="{chnl}"}
            </div>
        </div>
      {/if}
    </section>

    <section class="page-content__inner grid">
        <div class="grid__row box">
            <div class="grid__column grid__column sm--column-12-12 med--column-6-12">
                {embed="layout/_content-area" number="t1" page_id="{entry_id}" chnl="{chnl}"}
            </div>
            <div class="grid__column grid__column sm--column-12-12 med--column-6-12">
                {embed="layout/_content-area" number="t2" page_id="{entry_id}" chnl="{chnl}"}
            </div>
        </div>
    </section>

    {embed="layout/_footer"}

{/exp:channel:entries}
