{exp:essence_taxonomy_id tree_name="primary_navigation_whats_on_section" parse="inward"}
	{exp:taxonomy:nav tree_id="{essence_tree_id}" display_root="no" style="linear" depth="3"}

		<?php if ('{node_level_count}' == 1): ?><ul class="main-navigation__ggchild__list ggchild--list--alpha is-hidden-small"><?php endif; ?>

        <?php if ('{node_entry_id}'): ?>
			{exp:channel:entries cache="yes" refresh="360" channel="events" entry_id="{node_entry_id}" limit="1" dynamic="no"}

				<?php if ('{node_count}' == 1): ?>
					<li class="main-navigation__ggchild__item ">
			            <article class="navigation-listing navigation--listing--alpha">
			                <span class="navigation-listing__subtitle">{events_date format="%D, %F %d, %Y"}</span>
			                <h1 class="navigation-listing__title"><a href="{node_url}" title="{title}">{title}</a></h1>
			                <div class="navigation-listing__divider divider">
			                    <div class="divider__diamond"></div>
			                </div>
			            </article>
			        </li>
				<?php endif; ?>

				<?php if ('{node_count}' == 2 || '{node_count}' == 3): ?>
					<li class="main-navigation__ggchild__item">
		                <article class="navigation-listing">
		                    <span class="navigation-listing__subtitle">{events_date format="%D, %F %d, %Y"}</span>
		                    <h1 class="navigation-listing__title"><a href="{node_url}" title="{title}">{title}</a></h1>
		                </article>
		            </li>
				<?php endif; ?>

			{/exp:channel:entries}
        <?php endif; ?>

		<?php if ('{node_level_count}' == '{node_level_total_count}'): ?></ul><?php endif; ?>

	{/exp:taxonomy:nav}
{/exp:essence_taxonomy_id}