{preload_replace:chnl="events"}

{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:event_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    <section class="page-content__inner grid">

        {embed="event/_intro" page_id="{entry_id}"}

        <div class="grid__row box">

            <div class="grid__column sm--column-12-12 med--column-12-12">

                <div class="grid med--grid--table">
                    <ul class="promo-list list--alpha grid__row">
                        {exp:playa:parents field="events_parent_event" channel="events" orderby="events_date" sort="asc"}
                            <li class="promo-list__item {if 1 == count}is-first{/if} {if total_results == count}is-last{/if} grid__column sm--column-12-12 med--column-3-12">
                                <span class="promo-list__divider">
                                    <a href="{page_uri}"><span class="promo-list__title">{title}</span><br>Find Out More</a>
                                    <span class="promo-list__icon"></span>
                                </span>
                            </li>
                        {/exp:playa:parents}
                    </ul>
                </div>

            </div>

        </div>

    </section>

{/exp:channel:entries}