{exp:essence_filter parse="inward" separate_year="true"}
    {exp:channel:entries cache="yes" refresh="360" channel="{structure:child_listing:short_name}" site="not none" orderby="entry_date" sort="desc" dynamic="no" status="{publisher:entry_status}" require_entry="yes" start_on="{start_date}" stop_before="{end_date}" offset="{offset}" limit="{limit}"}

        {if filter_no_results}
            {if get_post:more == ''}
                <div class="box box--sm">
                    <p>No results</p>
                </div>
            {/if}
        {/if}

        {if get_post:more != '' && count == 1}
            <div class="divider divider--sm">
                <div class="divider__diamond"></div>
            </div>
        {/if}

        {embed="listings/_item-large" entry_id="{entry_id}" count="{count}" total_results="{total_results}"}

    {/exp:channel:entries}
{/exp:essence_filter}