{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}
    <header>
        {{embed:area}_heading}
            <div class="home-racecourse-head">
                <h3 class="home-racecourse-heading">{heading}</h3>
                <p class="home-racecourse-sub-heading">{sub_heading}</p>
            </div>
        {/{embed:area}_heading}
        <div class="footer-racecourse">
            {{embed:area}_images}
                <div class="home-racecourses-logos">
                    <figure class="racecourses_images">
                        <img src="{homepage}{image}">
                    </figure>
                </div>
            {/{embed:area}_images}
        </div>
    </header>

{/exp:channel:entries}