{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}
    {if '{{embed:area}_related:total_rows}' > 0}
        <section class="grid__row {embed:modifier}">
            <div class="grid__column sm--column-12-12 med--column-12-12">

                <header class="heading">
                    <h1 class="heading__title">{if embed:heading}{embed:heading}{if:else}{{embed:area}_heading}{/if}</h1>
                </header>

                <div class="grid med--grid--table">
                    <ul class="promo-list list--alpha grid__row">
                        {{embed:area}_related limit="4"}
                            <li class="promo-list__item grid__column sm--column-12-12 med--column-3-12 {if row_count == 1}is-first{/if} {if row_count == total_rows}is-last{/if}">
                                {link}
                                    <span class="promo-list__divider">
                                        <a href="{page_uri}" title="{title}">
                                            <span class="promo-list__title">{title}</span>
                                            <br>
                                            <span class="promo-list__desc">Find Out More</span>
                                        </a>
                                        <span class="promo-list__icon"></span>
                                    </span>
                                {/link}
                            </li>
                        {/{embed:area}_related}
                    </ul>
                </div>

            </div>
        </section>
    {/if}
{/exp:channel:entries}
