{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    <header class="heading line--heading">
        {{embed:area}_headings}
        <h1 class="heading__title"><span class="line__span">{heading}</span></h1>
        <h2 class="heading__subtitle subtitle--alpha">{sub_heading}</h2>
        {/{embed:area}_headings}
    </header>

{/exp:channel:entries}

{exp:channel:entries cache="yes" refresh="360"
    channel="settings"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    dynamic="no"
}

    <section id="twitter" class="social-list" data-id="{setting_twitter_widget}">
        <p>Loading tweets...</p>
    </section>

    <p><a href="https://twitter.com/intent/tweet?screen_name={setting_twitter_handle}" target="_blank" class="link link--sm link--sm--faux-btn">Tweet us @{setting_twitter_handle}</a></p>

{/exp:channel:entries}