{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    <header class="heading line--heading">
        {{embed:area}_headings}
            <h1 class="heading__title"><span class="line__span">{heading}</span></h1>
            <h2 class="heading__subtitle subtitle--alpha">{sub_heading}</h2>
        {/{embed:area}_headings}
    </header>

    <section class="media-listing">
        {{embed:area}_gallery}
            {exp:switchee variable="{media_pages_c2_type}" parse="inward"}

                {case value="photo-gallery"}
                    {media_pages_c2_photo_gallery limit="3"}
                        <article class="media-listing__item {if 1 == row_count}is-first{/if}">
                            <img src="{image:medium_4x2}" alt="{caption}" class="media-listing__media">
                            <p class="media-listing__meta">
                                {photo_title}
                            </p>
                            <a href="{page_uri}?item={row_count}" class="link link--sm" title="View Photo">View Photo</a>
                        </article>
                    {/media_pages_c2_photo_gallery}
                {/case}

                {case value="video-gallery"}
                    {media_pages_c2_video_gallery limit="3"}
                        <a href="{page_uri}?item={row_count}" class="media-listing__item {if 1 == row_count}is-first{/if}" title="View Video">
                            {if thumbnail}
                                <img src="{thumbnail:medium_4x2}" alt="{caption}">
                            {if:else}
                                <img src="/images/placeholder-4x2.jpg" alt="{caption}">
                            {/if}
                            <p class="media-listing__meta has-icon">
                                <span class="media-listing__icon icon icon--play icon--lg"></span>
                                {video_title}
                            </p>
                        </a>
                    {/media_pages_c2_video_gallery}
                {/case}

            {/exp:switchee}
        {/{embed:area}_gallery}
    </section>

{/exp:channel:entries}