<?php
    $configRadiumOne = ee()->config->config['RadiumOne'][$_SERVER['APPLICATION_SITE']];

    if ($configRadiumOne): 
?>
    <div class="pw-widget">
        <ul class="social-navigation {embed:modifier}">
            {exp:channel:entries cache="yes" refresh="360" channel="settings" limit="1" dynamic="no"}
                <li class="social-navigation__item">
                    <a class="social-navigation__icon icon icon--twitter-alpha tooltip pw-button-twitter" title="Share on Twitter" target="_blank">
                        <span class="tooltip__content {if "" != "{embed:placement}"}{embed:placement}{if:else}content--bottom{/if}">Click to <strong>share on Twitter</strong></span>
                    </a>
                </li>
            {/exp:channel:entries}

            <li class="social-navigation__item">
                <a class="social-navigation__icon icon icon--facebook-alpha tooltip pw-button-facebook" title="Share on Facebook" target="_blank">
                    <span class="tooltip__content {if "" != "{embed:placement}"}{embed:placement}{if:else}content--bottom{/if}">click to <strong>share on Facebook</strong></span>
                </a>
            </li>
            <li class="social-navigation__item">
                <a class="social-navigation__icon icon icon--googleplus-alpha tooltip pw-button-googleplus" title="Share on Google+" target="_blank">
                    <span class="tooltip__content {if "" != "{embed:placement}"}{embed:placement}{if:else}content--bottom{/if}">Click to <strong>share on Google+</strong></span>
                </a>
             </li>
             <li class="social-navigation__item">
                 <a class="social-navigation__icon icon icon--mail-beta tooltip pw-button-email" title="Share via email">
                     <span class="tooltip__content {if "" != "{embed:placement}"}{embed:placement}{if:else}content--bottom{/if}">Click to <strong>share via email</strong></span>
                 </a>
             </li>
             {if embed:show_cal}
                <li class="social-navigation__item">
                    <a href="?cal" class="social-navigation__icon icon icon--calendar tooltip" title="Add to calendar" target="_blank">
                        <span class="tooltip__content {if "" != "{embed:placement}"}{embed:placement}{if:else}content--bottom{/if}">Click to <strong>add to your Calendar</strong></span>
                    </a>
                </li>
             {/if}
        </ul>
    </div>
<?php
    endif;
?>