{exp:channel:entries cache="yes" refresh="360" channel="stallions" dynamic="no" orderby="title" sort="asc"}

    {if no_results}
        {if get_post:more == ''}
            <div class="box box--sm">
                <p>Sorry, no stallion in list to show.</p>
            </div>
        {/if}
    {/if}

    <article class="listing {if count == 1}is-first{/if} grid__row">
        <div class="grid__column sm--column-12-12 med--column-4-12">
            <div class="listing__media label">
                {stallions_profile}
                    {if stallions_profile:image}
                        <img src="{stallions_profile:image}" alt="">
                    {if:else}
                        <img src="/images/placeholder-16x9.jpg" alt="">
                    {/if}
                {/stallions_profile}
            </div>
        </div>

        <div class="listing__desc grid__column sm--column-12-12 med--column-8-12">
            <header class="heading">
                <h1 class="heading__title">{title}</h1>
                {stallions_profile}
                    {if stallions_profile:short_desc}
                        <h2 class="heading__subtitle subtitle--alpha">{stallions_profile:short_desc}</h2>
                    {/if}
                {/stallions_profile}
            </header>
            {stallions_profile}
                <p>
                    {if stallions_profile:fee}
                        Fee: {stallions_profile:fee}<br/>
                    {/if}

                    {if stallions_profile:height}
                        Height: {stallions_profile:height}<br/>
                    {/if}

                    {if stallions_profile:colour}
                        Colour: {stallions_profile:colour}<br/>
                    {/if}

                    {if stallions_profile:birth}
                        Birth: {stallions_profile:birth}
                    {/if}
                </p>
            {/stallions_profile}

            <p>
                <a href="{page_uri}" class="button" title="More info">More info</a>
            </p>
        </div>        
    </article>

    {if count != total_results}
        <div class="divider divider--sm">
            <div class="divider__diamond"></div>
        </div>
    {/if}

{/exp:channel:entries}