{exp:channel:entries cache="yes" refresh="360" channel="accommodations" dynamic="yes"}

    {accommodations_hotels limit="{embed:load_more_limit}"}
        <article class="listing grid__row">
            <div class="grid__column sm--column-12-12 med--column-3-12">
                <div class="listing__media label">
                    {if photo}
                        <img src="{photo}" alt="">
                    {if:else}
                        <img src="/images/placeholder-16x9.jpg" alt="">
                    {/if}
                </div>
                <!--
                {embed="accommodation/_entries-table-block" row_id="{row_id}" class="hide-devices-table"}
                -->
            </div>

            <div class="listing__desc grid__column sm--column-12-12 med--column-6-12">
                <header class="heading">
                    <h1 class="heading__title">{name}</h1>
                    {if distance}
                        <h2 class="heading__subtitle subtitle--alpha">
                            {distance} miles from racecourse
                        </h2>
                    {/if}                    
                </header>
                {embed="accommodation/_entries-rating-block" row_id="{row_id}" class="hide-desktop-block"}

                <div class="accommodation-content">
                    <?php if (strlen("{desc}") > ee()->config->config['accommodation_read_more_text']) { ?>
                        <p class="remove-margin hide-read-more">
                            <?php echo substr("{desc}", 0, ee()->config->config['accommodation_read_more_text']); ?>
                            <a href="javascript:;" class="readMoreDesc">Read More</a>
                        </p>
                        <p class="hide-content remove-margin show-read-more">
                            <?php echo "{desc}"; ?>
                        </p>
                    <?php } else { ?>
                        <p class="remove-margin">
                            <?php echo "{desc}"; ?>
                        </p>
                    <?php } ?>

                    <!-- Table to show only for devices -->
                    {embed="accommodation/_entries-table-block" row_id="{row_id}" class="hide-desktop-table"}
                    <!-- Table to show only for devices -->

                    <p class="call-block">For details & reservations, call {phone} </p>

                    <p class="book_hotel_btn">
                        <a href="{website}" class="button" title="More info" target="_blank">
                            Book On the Hotel Site
                        </a>
                    </p>
                </div>
            </div>

           {embed="accommodation/_entries-rating-block" row_id="{row_id}" class="hide-devices-block"}
        </article>

        {if row_count != total_rows}
            <div class="divider divider--sm">
                <div class="divider__diamond"></div>
            </div>
        {if:else}
            <input type="hidden" value="{total_rows}" id="currentRecords">
        {/if}

    {/accommodations_hotels}

    {accommodations_hotels limit="1"}
        <input type="hidden" value="{field_total_rows}" id="totalRows">
    {/accommodations_hotels}

{/exp:channel:entries}