{if 'true' == embed:overwrite}
    <div class="grid__row box box--charlie {if 'true' == embed:breadcrumbs}box--sm{/if}">
        <div class="grid__column sm--column-12-12 med--column-12-12">

            {if 'true' == embed:breadcrumbs}
                {embed="navigation/_breadcrumbs"}
            {/if}

            <header class="heading line--diamond--heading">
                <h1 class="heading__title title--delta">
                    <span class="diamond__group group--left">
                        <span class="diamond__icon"></span>
                    </span>
                    {embed:heading}
                    <span class="diamond__group group--right">
                        <span class="diamond__icon"></span>
                    </span>
                </h1>
                {if '' != embed:sub_heading}
                    <h2 class="heading__subtitle subtitle--charlie">{embed:sub_heading}</h2>
                {/if}
                {if '' != embed:description}
                    <p class="heading__desc desc--charlie">{embed:description}</p>
                {/if}
                {!-- <a href="#" class="link link--sm">More information</a> --}
            </header>
        </div>
    </div>
{if:else}
    {exp:channel:entries cache="yes" refresh="360"
        entry_id="{embed:page_id}"
        limit="1"
        status="{publisher:entry_status}"
        require_entry="yes"
        show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
        show_expired="{if get_post:publisher_status != ''}yes{/if}"
    }
    <div class="grid__row box box--charlie {if 'true' == embed:breadcrumbs}box--sm{/if}">
        {{embed:area}_intro}
        <div class="grid__column sm--column-12-12 med--column-12-12">

            {if 'true' == embed:breadcrumbs}
                {embed="navigation/_breadcrumbs"}
            {/if}

            <header class="heading line--diamond--heading heading--lg">
                <h1 class="heading__title title--delta">
                    <span class="diamond__group group--left">
                        <span class="diamond__icon"></span>
                    </span>
                    {heading}
                    <span class="diamond__group group--right">
                        <span class="diamond__icon"></span>
                    </span>
                </h1>
                {if '' != sub_heading}
                    <h2 class="heading__subtitle">{sub_heading}</h2>
                {/if}
                {if '' != description}
                    <p class="heading__desc">{description}</p>
                {/if}
            </header>
        </div>
        {/{embed:area}_intro}
    </div>
    {/exp:channel:entries}
{/if}