{embed="layout/_header" fourohfour="yes"}

    <div class="page-content__inner grid">
        <div class="grid__row box">
            <header class="grid__column sm--column-12-12 med--column-12-12 heading line--heading">
                <h1 class="heading__title title--alpha"><span class="line__span">404 Error</span></h1>
                <h2 class="heading__subtitle">Apologies, the page you are looking for does not exist, or has been moved. Please start again, <a href="/" class="link" title="Go back to the home page">go back to the home page</a>, or use the search.</h2>
            </header>
        </div>
    </div>

{embed="layout/_footer"}
