{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}
    {{embed:area}_testimonials}

        <div class="grid__column sm--column-12-12 med--column-6-12">
            <article class="quote-listing">
                <blockquote class="quote-listing__desc">{quote_text}</blockquote>
                <aside class="grid__row">
                    <div class="grid__column sm--column-12-12 med--column-4-12">
                        {if quote_image}
                            <img src="{quote_image:small_1x1}" alt="{quote_name}" class="quote-listing__img">
                        {if:else}
                            <img src="/images/placeholder-person.jpg" alt="{quote_name}" class="quote-listing__img">
                        {/if}
                    </div>
                    <div class="grid__column sm--column-12-12 med--column-8-12">
                        <p class="quote-listing__meta"><span class="quote-listing__meta__highlight">{quote_name}</span><br>{quote_title}</p>
                    </div>
                </aside>
            </article>
        </div>

    {/{embed:area}_testimonials}
{/exp:channel:entries}