<section class="grid__row box">
    <div class="grid__column sm--column-12-12 med--column-12-12">

        <header class="heading">
            <h1 class="heading__title">Other Stallions</h1>
        </header>

        <div class="grid med--grid--table">
            {exp:channel:entries cache="yes" refresh="360" channel="stallions" dynamic="no" entry_id="not {embed:page_id}"}
                {if "{switch="is-first|||is-last"}" == "is-first"}
                    <ul class="promo-list list--alpha grid__row">
                {/if}

                {if 1 == count}{/if}
                    <li class="promo-list__item {switch="is-first|||"} {if total_results == count || "{switch="is-first|||is-last"}" == "is-last"}is-last{/if} grid__column sm--column-12-12 med--column-3-12">
                        <span class="promo-list__divider">
                            <a title="{title}" href="{page_uri}">
                                <span class="promo-list__title">{title}</span>
                                <br>
                                <span class="promo-list__desc">Find Out More</span>
                            </a>
                            <span class="promo-list__icon"></span>
                        </span>
                    </li>
                    {if total_results == count || "{switch="is-first|||is-last"}" == "is-last"}
                    </ul>
                {/if}
                {/exp:channel:entries}
            </div>
        </div>
    </section>