{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    {exp:essence_form
        subject="{title} Submission"
        sent_fields="name|telephone|from|address|postcode|message|marketing|page"
        required_fields="name|from|message"
        email_fields="from"
        honeypot_field="honey"
        send_to="{form_page_email_to}"
        parse="inward"
    }

        {if '{show_send_error}' == 'y'}
            <p>There was an error sending your details. Please try again later.</p>
        {if:elseif '{show_confirmation}' == 'y'}
            {form_page_thank_you_message}
        {if:else}
            <header class="heading line--heading">
                <h1 class="heading__title"><span class="line__span span--alpha">General Enquiry Form</span></h1>
                <h2 class="heading__subtitle subtitle--alpha">We aim to respond within one working day.<br>* = Required field.</h2>
            </header>
            <form action="?submitted=true" method="post" class="form js-form">
                <ul>
                    <li class="form__input">
                        <label for="name" class="form-label">Full Name *
                            {if '{is_missing:name}' == 'y'}
                                <span style="color:red">Please enter your name</span>
                            {/if}
                        </label>
                        <input type="text" id="name" name="name" value="{value:name}" class="form-input required" required />
                    </li>
                    <li class="form__input">
                        <label for="telephone" class="form-label">Telephone</label>
                        <input type="text" id="telephone" name="telephone" value="{value:telephone}" class="form-input" />
                    </li>
                    <li class="form__input">
                        <label for="from" class="form-label">Email *
                            {if '{is_missing:from}' == 'y'}
                                <span style="color:red">Please enter an email address</span>
                            {if:elseif '{is_invalid:from}' == 'y'}
                                <span style="color:red">Please enter a valid email address</span>
                            {/if}
                        </label>
                        <input type="email" id="from" name="from" value="{value:from}" class="form-input required" data-defaulterror="Please enter a valid email address" required />
                    </li>
                    <li class="form__input">
                        <label for="address" class="form-label">Address</label>
                        <textarea id="address" name="address" rows="5" cols="" class="form-input">{value:address}</textarea>
                    </li>
                    <li class="form__input">
                        <label for="postcode" class="form-label">Postcode</label>
                        <input type="text" id="postcode" name="postcode" value="{value:postcode}" class="form-input" />
                    </li>
                    <li class="form__input">
                        <label for="message" class="form-label">Message *
                            {if '{is_missing:message}' == 'y'}
                                <span style="color:red">Please enter a message</span>
                            {/if}
                        </label>
                        <textarea id="message" name="message" rows="18" cols="" class="form-input required" required>{value:message}</textarea>
                    </li>
                    <li class="form__input">
                        <label for="marketing" class="form-label">
                            <input name="marketing" id="marketing" type="checkbox" value="Yes" class="select-tab__input" checked> Receive marketing material
                        </label>
                    </li>
                    <li class="form__input">
                        <input type="text" name="honey" style="display:none;" />
                        <input type="hidden" name="XID" value="{XID_HASH}" />
                        <input type="hidden" name="page" value="{page_url}" />
                        <input name="submit" type="submit" value="Submit Form" class="button button--beta js-ga" data-site="{site_short_name}" data-type="cande" data-name="{title} Submission" />
                    </li>
                </ul>
            </form>
        {/if}

    {/exp:essence_form}
{/exp:channel:entries}