{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}
    {{embed:area}_faqs}
        <dl class="expand-list {if 1 == row_count}is-first{/if}">
            <dt class="expand-list__title heading line--heading">
                <a href="#faq-{row_count}" aria-label="faq-{row_count}" id="faq-trigger-{row_count}" class="heading__title" title="{question}" data-faq>
                    <span class="icon expand-list__icon"></span>
                    <span class="line__span span--alpha">{question}</span>
                </a>
            </dt>
            <dd aria-labelledby="faq-trigger-{row_count}" id="faq-{row_count}" class="expand-list__desc">{answer}</dd>
        </dl>
    {/{embed:area}_faqs}
{/exp:channel:entries}