{embed="layout/_header"}

    <div class="page-content__inner grid">

        {exp:channel:entries cache="yes" refresh="360" limit="1" require_entry="yes"}

            <header class="grid__row box box--charlie box--sm">
                <div class="grid__column sm--column-12-12 med--column-12-12">
                    {embed="navigation/_breadcrumbs"}
                    <div class="heading line--diamond--heading">
                        <h1 class="heading__title title--delta">
                            <span class="diamond__group group--left group--alpha">
                                <span class="diamond__icon"></span>
                            </span>
                             {accommodations_c1_intro}
                                {if heading}
                                    {heading}
                                {if:else}
                                    {title}
                                {/if}
                            {/accommodations_c1_intro}
                            <span class="diamond__group group--right group--alpha">
                                <span class="diamond__icon"></span>
                            </span>
                        </h1>
                        {accommodations_c1_intro}
                            {if sub_heading}
                                <h2 class="heading__subtitle subtitle--charlie">
                                    {sub_heading}
                                </h2>
                            {/if}
                            {if description}
                                <p class="heading__desc desc--charlie">
                                    {description}
                                </p>
                            {/if}
                        {/accommodations_c1_intro}
                    </div>
                </div>
            </header>

            <div class="grid__row">
                <div class="grid__column column--alpha sm--column-12-12 med--column-12-12">
                    <div class="box box--alpha box--content hotel-sort-block">
                            <div class="filter-block">
                                <label>FILTER YOUR RESULTS BY</label>
                                <select id="hotelSortPrimary">
                                    <option value="">Please select...</option>
                                    <option data-sort="asc" data-group="option-dist" class="option-dist" value="distance">Distance (Nearest First)</option>
                                    <option data-sort="desc" data-group="option-dist" class="option-dist" value="distance">Distance (Farthest First)</option>
                                    <option data-sort="asc" data-group="option-price" class="option-price" value="price_rating">Price (Lowest First)</option>
                                    <option data-sort="desc" data-group="option-price" class="option-price" value="price_rating">Price (Highest First)</option>
                                    <option data-sort="asc" data-group="option-star" class="option-star" value="star_rating">Star rating (Lowest First)</option>
                                    <option data-sort="desc" data-group="option-star" class="option-star" value="star_rating">Star rating (Highest First)</option>
                                </select>
                            </div>
                            <div class="filter-block">
                                <label>AND</label>
                                <select id="hotelSortSecondary">
                                    <option value="">Please select...</option>
                                </select>
                            </div>
                    </div>
                </div>
            </div>

            <div class="grid__row">
                <div class="grid__column column--alpha sm--column-12-12 med--column-12-12">
                    <div class="box box--alpha box--content accommodation-area">
                        {embed="accommodation/_entries-loop" load_more_limit="<?php echo ee()->config->config['load_more_limit']; ?>"}
                    </div>
                    <div class="box box--alpha box--content load-more-block">
                        <span id="show-page-count-text"></span>
                        <a href="javascript:;" id="load_more" data-url-title="{last_segment}" data-load-more-limit="<?php echo ee()->config->config['load_more_limit']; ?>"></a>
                    </div>                    
                </div>
            </div>

        {/exp:channel:entries}

    </div>

{embed="layout/_footer"}