{embed="layout/_header"}

{exp:channel:entries cache="yes" refresh="360" limit="1" channel="stallions"}

    <div class="page-content__inner grid">

        <header class="grid__row box box--charlie box--sm">
            <div class="grid__column sm--column-12-12 med--column-12-12">
                {embed="navigation/_breadcrumbs"}
                <div class="heading line--diamond--heading">
                    <h1 class="heading__title title--delta">
                        <span class="diamond__group group--left group--alpha">
                            <span class="diamond__icon"></span>
                        </span>
                        {title}
                        <span class="diamond__group group--right group--alpha">
                            <span class="diamond__icon"></span>
                        </span>
                    </h1>
                    <h2 class="heading__subtitle subtitle--charlie">
                        {stallions_profile}
                            {stallions_profile:short_desc}
                            <br/>
                            {stallions_profile:fee_deatil}
                        {/stallions_profile}
                    </h2>
                    <p class="heading__desc desc--charlie">{stallions_desc}</p>
                </div>

                {stallions_send_enquiry}
                    {if stallions_send_enquiry:button_text != ''}
                        <div class="send-an-enquiry-section text-center ">
                            <a class="button" href="{stallions_send_enquiry_link}{page_uri}{/stallions_send_enquiry_link}">{stallions_send_enquiry:button_text}</a>
                        </div>
                    {/if}
                {/stallions_send_enquiry}

            </div>
        </header>

        <section class="gallery gallery--carousel js-carousel">
            {embed="stallion/_stallion-carousel"}
        </section>

        <section class="grid__row">
            <div class="box box--charlie box--sm no--pb">
                <div class="grid__column column--alpha sm--column-12-12 md--column-12-12 lg--column-9-12 no--float">
                    <ul class="stallion-tabs tabbed-list tabbed--alpha tabbed-borderBot" data-tabgroup="">
                        <li class="tabbed-list__item">
                            <label id="tab-s1" aria-label="tab-conformation" data-tab="" class="tabbed-list__link {if get:search == ''}is-selected{/if}">
                                <span>Conformation</span>
                            </label>
                        </li>

                        <li class="tabbed-list__item">
                            <label id="tab-s2" aria-label="tab-race-record" data-tab="" class="tabbed-list__link ">
                                <span>Race Results</span>
                            </label>
                        </li>

                        <li class="tabbed-list__item">
                            <label id="tab-s3" aria-label="tab-pedigree" data-tab="" class="tabbed-list__link ">
                                <span>Pedigree</span>
                            </label>
                        </li>

                        <li class="tabbed-list__item">
                            <label id="tab-s4" aria-label="tab-progeny-race-results" data-tab="" class="tabbed-list__link {if get:search == 'progeny-results'}is-selected{/if}">
                                <span>Progeny Results</span>
                            </label>
                        </li>

                        <li class="tabbed-list__item">
                            <label id="tab-s5" aria-label="tab-progeny-sales" data-tab="" class="tabbed-list__link {if get:search == 'progeny-sales'}is-selected{/if}">
                                <span>Progeny Sales</span>
                            </label>
                        </li>

                        <li class="tabbed-list__item">
                            <label id="tab-s6" aria-label="tab-progeny-gallery" data-tab="" class="tabbed-list__link">
                                <span>Progeny Gallery</span>
                            </label>
                        </li>

                        <li class="tabbed-list__item">
                            <label id="tab-s7" aria-label="tab-two-year-olds" data-tab="" class="tabbed-list__link">
                                <span>2 year olds</span>
                            </label>
                        </li>

                    </ul>
                </div>
            </div>

            <article class="grid__column column--alpha sm--column-12-12 med--column-9-12">
                <div class="box box--alpha box--content">

                    <div class="grid__row box--sm">

                        <div class="grid__column sm--column-12-12 med--column-12-12">

                            <section id="tab-conformation" class="tab-content grid grid--alpha" aria-labelledby="tab-s1">
                                {embed="stallion/_conformation"}
                            </section>

                            <section id="tab-race-record" class="tab-content grid grid--alpha is-hidden" aria-labelledby="tab-s2">
                                {embed="stallion/_race-results"}
                            </section>

                            <section id="tab-pedigree" class="tab-content grid grid--alpha is-hidden" aria-labelledby="tab-s3">
                                {embed="stallion/_pedigree"}
                            </section>

                            <section id="tab-progeny-race-results" class="tab-content grid grid--alpha is-hidden" aria-labelledby="tab-s4">
                                {embed="stallion/_progeny-results" entryID="{entry_id}"}
                            </section>

                            <section id="tab-progeny-sales" class="tab-content grid grid--alpha is-hidden" aria-labelledby="tab-s5">
                                {embed="stallion/_progeny-sales" entryID="{entry_id}"}
                            </section>

                            <section id="tab-progeny-gallery" class="tab-content grid grid--alpha is-hidden" aria-labelledby="tab-s6">
                                {embed="stallion/_progeny-gallery"}
                            </section>

                            <section id="tab-two-year-olds" class="tab-content grid grid--alpha is-hidden" aria-labelledby="tab-s7">
                                {embed="stallion/_two-year-olds" entryID="{entry_id}"}
                            </section>

                        </div>

                    </div>
                </div>

                <div class="grid grid--alpha">
                    {stallions_send_enquiry}
                        {if stallions_send_enquiry:button_text != ''}
                            <div class="grid med--grid--table ">
                                <article class="grid__row box box--delta text-center cta">
                                    <div class="grid__column sm--column-12-12 med--column-6-12">
                                        <p class="cta__desc">{stallions_send_enquiry:description}</p>
                                    </div>
                                    <aside class="grid__column sm--column-12-12 med--column-6-12">
                                        <p class="cta__action">
                                            <a title="{text}" href="{stallions_send_enquiry_link}{page_uri}{/stallions_send_enquiry_link}" class="button button--beta button--sm">{stallions_send_enquiry:button_text}</a>
                                        </p>
                                    </aside>
                                </article>
                            </div>
                        {/if}
                    {/stallions_send_enquiry}

                    {embed="stallion/_other-stallions" page_id="{entry_id}"}
                </div>
            </article>

            <aside class="grid__column column--alpha sm--column-12-12 med--column-3-12">
                {embed="navigation/_sidebar"}
            </aside>

        </section>

    </div>

{/exp:channel:entries}

{date_picker_style}

{embed="layout/_footer"}