{exp:channel:entries cache="yes" refresh="360" channel='stallions'}
   <div class="gallery__inner">
        {stallions_gallery}
            <figure class="gallery__slide">
                <img src="{stallions_gallery:image:large}" alt="{stallions_gallery:caption}">
                {if "" != stallions_gallery:caption}
                    <figcaption class="gallery__slide__caption">{stallions_gallery:caption}</figcaption>
                {/if}
            </figure>
        {/stallions_gallery}
    </div>
{/exp:channel:entries}