{preload_replace:chnl="form_page"}

{exp:channel:entries cache="yes" refresh="360"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    {if no_results}
        {redirect="404"}
    {/if}

    {embed="layout/_header" page_id="{entry_id}"}

    <div class="page-content__inner grid">
        {embed="layout/_content-area" number="c1" type="intro-alpha" page_id="{entry_id}" chnl="{chnl}"}

        <section class="grid__row">

            <article class="grid__column column--alpha sm--column-12-12 med--column-9-12">
                <div class="box box--alpha box--content">
                    {embed="form/_{form_page_c2_form}" page_id="{entry_id}"}
                </div>
            </article>
            <aside class="grid__column column--alpha sm--column-12-12 med--column-3-12">
                {embed="navigation/_sidebar"}
            </aside>

        </section>

        {embed="layout/_content-area" number="c3" type="related-links" heading="Related links" page_id="{entry_id}" chnl="{chnl}" modifier="box"}
    </div>

    {embed="layout/_footer"}
{/exp:channel:entries}