{preload_replace:chnl="events"}
{embed="layout/_header"}

{exp:channel:entries cache="yes" refresh="360"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    {if no_results}
        {redirect="404"}
    {/if}

    {exp:essence_ical
        cal_param="cal"
        id="{entry_id}"
        description="{events_short_description}"
        url="{page_url}"
        title="{title}"
        start="{events_date format='%Y-%m-%d'} {events_opening_time}"
        end="{events_date format='%Y-%m-%d'} {events_closing_time}"
    }

    {if '{exp:playa:total_parents field="events_parent_event" channel="events"}{/exp:playa:total_parents}' != 0}
        {embed="event/_day-picker" event_id="{entry_id}"}
    {if:else}

        <div class="page-content__inner grid">

            {embed="event/_intro" page_id="{entry_id}"}

            <div class="grid__row box box--charlie box--sm no--pb">

                <div class="grid__column sm--column-12-12 med--column-12-12">

                    {embed="navigation/_breadcrumbs" show_cal="true"}

                    {!-- Bring in dynamically the different tabs --}
                    {if (events_admission_tickets:total_rows > 0 || events_hospitality_tickets:total_rows > 0 || events_pb_tickets:total_rows > 0)}

                        <ul class="tabbed-list tabbed--alpha gutter-pull" data-tabgroup>
                             <?php 
				/* Here I am ordering the tickets tabs checking the tab_order field from the cms content */
                                $tab_order = '{tab_order}';
				$general_order =1 ;
				$hospitality_order = 2; 
				$private_order = 3;
                                switch ($tab_order)
                                {
                                    case 'a' : $general_order =1 ;$hospitality_order = 2; $private_order = 3; break;
                                    case 'b' : $general_order =1 ;$hospitality_order = 3; $private_order = 2; break;
                                    case 'c' : $general_order =2 ;$hospitality_order = 1; $private_order = 3; break;
                                    case 'd' : $general_order =3 ;$hospitality_order = 1; $private_order = 2; break;
                                    case 'e' : $general_order =2 ;$hospitality_order = 3; $private_order = 1; break;
                                    case 'f' : $general_order =3 ;$hospitality_order = 2; $private_order = 1; break;
					default: $general_order =1 ;$hospitality_order = 2; $private_order = 3;
                                  }
                                
                                for ($i = 1;$i<=3;$i++) 
                                {
                                    if ($general_order === $i ) :
                            ?>
                            {if events_admission_tickets:total_rows > 0}
                                <li class="tabbed-list__item">
                                    <a href="#admission-content" id="admission-trigger" class="tabbed-list__link 
                                    <?php if ($i === 1) : ?>is-selected<?php endif; ?>" 
                                    aria-label="admission-content" data-tab title="General Admission"><span>General Admission</span></a>
                                </li>
                            {/if}
                                <?php endif;
                                    if ($hospitality_order === $i ) :
                                 ?>
                            {if events_hospitality_tickets:total_rows > 0}
                                <li class="tabbed-list__item">
                                    <a href="#hospitality-content" id="hospitality-trigger" class="tabbed-list__link 
                                    <?php if ($i === 1) : ?>is-selected<?php endif; ?>" aria-label="hospitality-content" data-tab title="Restaurants &amp; Packages"><span>Restaurants &amp; Packages</span></a>
                                </li>
                            {/if}
                             <?php endif;
                                    if ($private_order === $i ) :
                                 ?>
                            {if events_pb_tickets:total_rows > 0}
                                <li class="tabbed-list__item">
                                    <a href="#private-boxes-content" id="private-boxes-trigger" class="tabbed-list__link 
                                    <?php if ($i === 1) : ?>is-selected<?php endif; ?>
                                    is-last" aria-label="private-boxes-content" data-tab title="Private Boxes"><span>Private Boxes</span></a>
                                </li>
                            {/if}
                            <?php 
                                endif;
                                }
                             ?>
                        </ul>
                    {/if}
                </div>

            </div>

            <div class="grid__row box box--sm">

                <div class="grid__column sm--column-12-12 med--column-12-12">

                    <section id="admission-content" class="tab-content grid grid--alpha" aria-labelledby="admission-trigger">

                        
                        {if events_admission_notice != ''}
                            <div class="text-center">
                                <div class="alert align-center">
                                    {events_admission_notice}
                                    <span class="alert__icon icon icon--info-alpha"></span>
                                </div>
                            </div>
                        {/if}

                        <div class="grid__row">

                            {embed="event/_tickets" page_id="{entry_id}" type="admission" offset="0" limit="3"}

                        </div>

                        {if events_admission_tickets:total_rows > 3}
                            <div id="admission-tickets" class="toggle-content grid__row" aria-labelledby="admission-tickets-trigger">

                                {embed="event/_tickets" page_id="{entry_id}" type="admission" offset="3" limit="100"}

                            </div>

                            <div class="grid__row column--alpha options-row text-center">
				<!-- Extra buy ticket button -->
				{if events_extra_av_url != ""}
                          	   <p class="options"><br />
					<a href="{events_extra_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">
					{if events_extra_ticket_text !=""}
						{events_extra_ticket_text}
					{if:else}
						Buy Tickets
					{/if}
					</a>
				</p>
				{/if}
				<!--  -->
                                <p class="options">
                                    <a href="#" id="admission-tickets-trigger" class="link link--alpha link--sm button button--alpha options-more" aria-label="admission-tickets" data-toggle><span data-toggle-replace="More|Less">More</span> admission ticket options</a>
                                </p>

                                {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                                    {case value="tba" default="true"}
                                        <p class="options"><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                    {/case}
                                    {case value="available"}
                                        <p class="options"><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">Buy Tickets</a></p>
                                    {/case}
                                    {case value="otd"}
                                        <p class="options"><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                    {/case}
                                    {case value="sold-out"}
                                        <p class="options"><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View more events</a></p>
                                    {/case}
                                    {case value="custom"}
                                        {if events_custom_cta_text != ''}
                                            <p class="options"><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="{events_custom_cta_text}">{events_custom_cta_text}</a></p>
                                        {/if}
                                    {/case}
                                {/exp:switchee}

                            </div>
                            <div  class="grid__row column--alpha options-row text-center">
                                {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                                    {case value="tba" default="true"}
                                        <p><strong>Tickets to be announced</strong></p>
                                    {/case}
                                    {case value="available"}
                                        <p><strong>Hurry! Limited Advanced Tickets. Discount with immediate online booking.</strong></p>
                                    {/case}
                                    {case value="otd"}
                                        <p><strong>Advanced tickets are sold out. More tickets on the door.</strong></p>
                                    {/case}
                                    {case value="sold-out"}
                                        <p><strong>All tickets are sold out.</strong></p>
                                    {/case}
                                    {case value="custom"}
                                        {if events_custom_cta_text != ''}
                                            <p><strong>{events_custom_availability}</strong></p>
                                        {/if}
                                    {/case}
                                 {/exp:switchee}
                            </div>
                        

                        {if:elseif events_admission_tickets:total_rows < 4 && events_admission_tickets:total_rows > 0}
                            <div class="grid text-center">
				<!-- Extra buy ticket button -->
				{if events_extra_av_url != ""}
                          	   <p class="options"><br />
					<a href="{events_extra_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">
					{if events_extra_ticket_text !=""}
						{events_extra_ticket_text}
					{if:else}
						Buy Tickets
					{/if}
					</a>
				</p>
				{/if}
				<!--  -->
                                <article class="grid__row box box--sm">
                                    {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                                        {case value="tba" default="true"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                                <p><strong>Tickets to be announced</strong></p>
                                            </div>
                                        {/case}
                                        {case value="available"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">Buy Tickets</a></p>
                                                <p><strong>Hurry! Limited Advanced Tickets. Discount with immediate online booking.</strong></p>
                                            </div>
                                        {/case}
                                        {case value="otd"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                                <p><strong>Advanced tickets are sold out. More tickets on the door.</strong></p>
                                            </div>
                                        {/case}
                                        {case value="sold-out"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View more events</a></p>
                                                <p><strong>All tickets are sold out.</strong></p>
                                            </div>
                                        {/case}
                                        {case value="custom"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                {if events_custom_cta_text != ''}
                                                    <p><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="{events_custom_cta_text}">{events_custom_cta_text}</a></p>
                                                    <p><strong>{events_custom_availability}</strong></p>
                                                {/if}
                                            </div>
                                        {/case}
                                    {/exp:switchee}
                                </article>

                            </div>
    
                        {/if}

                    </section>

                    <section id="hospitality-content" class="tab-content grid grid--alpha" aria-labelledby="hospitality-trigger">

                        {if events_hospitality_notice != ''}
                            <div class="text-center">
                                <p class="alert">
                                    {events_hospitality_notice}
                                    <span class="alert__icon icon icon--info-alpha"></span>
                                </p>
                            </div>
                        {/if}

                        <div class="grid__row">

                            {embed="event/_tickets" page_id="{entry_id}" type="hospitality" offset="0" limit="3"}

                        </div>

                        {if events_hospitality_tickets:total_rows > 3}

                            <div id="hospitality-tickets" class="toggle-content grid__row" aria-labelledby="hospitality-tickets-trigger">

                                {embed="event/_tickets" page_id="{entry_id}" type="hospitality" offset="3" limit="100"}

                            </div>

                            <div class="grid__row column--alpha options-row text-center">
				<!-- Extra buy ticket button -->
				{if events_extra_av_url != ""}
                          	   <p class="options"><br />
					<a href="{events_extra_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">
					{if events_extra_ticket_text !=""}
						{events_extra_ticket_text}
					{if:else}
						Buy Tickets
					{/if}
					</a>
				</p>
				{/if}
				<!--  -->
                                <p class="options">
                                    <a href="#" id="hospitality-tickets-trigger" class="link link--alpha  link--sm button button--alpha options-more" aria-label="hospitality-tickets" data-toggle><span data-toggle-replace="More|Less">More</span> restaurant &amp; package ticket options</a>
                                </p>
                                
                                {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                                    {case value="tba" default="true"}
                                        <p class="options"><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                    {/case}
                                    {case value="available"}
                                        <p class="options"><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">Buy Tickets</a></p>
                                    {/case}
                                    {case value="otd"}
                                        <p class="options"><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                    {/case}
                                    {case value="sold-out"}
                                        <p class="options"><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View more events</a></p>
                                    {/case}
                                    {case value="custom"}
                                        {if events_custom_cta_text != ''}
                                            <p class="options"><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="{events_custom_cta_text}">{events_custom_cta_text}</a></p>
                                        {/if}
                                    {/case}
                                {/exp:switchee}
                            </div>

                            <div  class="grid__row column--alpha options-row text-center">
                                {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                                    {case value="tba" default="true"}
                                        <p><strong>Tickets to be announced</strong></p>
                                    {/case}
                                    {case value="available"}
                                        <p><strong>Hurry! Limited Advanced Tickets. Discount with immediate online booking.</strong></p>
                                    {/case}
                                    {case value="otd"}
                                        <p><strong>Advanced tickets are sold out. More tickets on the door.</strong></p>
                                    {/case}
                                    {case value="sold-out"}
                                        <p><strong>All tickets are sold out.</strong></p>
                                    {/case}
                                    {case value="custom"}
                                        {if events_custom_cta_text != ''}
                                            <p><strong>{events_custom_availability}</strong></p>
                                        {/if}
                                    {/case}
                                {/exp:switchee}

                            </div>

                        {if:elseif events_hospitality_tickets:total_rows < 4 && events_hospitality_tickets:total_rows > 0}

                            <div class="grid text-center">
				<!-- Extra buy ticket button -->
				{if events_extra_av_url != ""}
                          	   <p class="options"><br />
					<a href="{events_extra_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">
					{if events_extra_ticket_text !=""}
						{events_extra_ticket_text}
					{if:else}
						Buy Tickets
					{/if}
					</a>
				</p>
				{/if}
				<!--  -->
                                <article class="grid__row box box--sm">

                                    {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                                        {case value="tba" default="true"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                                <p><strong>Tickets to be announced</strong></p>
                                            </div>
                                        {/case}
                                        {case value="available"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">Buy Tickets</a></p>
                                                <p><strong>Hurry! Limited Advanced Tickets. Discount with immediate online booking.</strong></p>
                                            </div>
                                        {/case}
                                        {case value="otd"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                                <p><strong>Advanced tickets are sold out. More tickets on the door.</strong></p>
                                            </div>
                                        {/case}
                                        {case value="sold-out"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View more events</a></p>
                                                <p><strong>All tickets are sold out.</strong></p>
                                            </div>
                                        {/case}
                                        {case value="custom"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                {if events_custom_cta_text != ''}
                                                    <p><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="{events_custom_cta_text}">{events_custom_cta_text}</a></p>
                                                    <p><strong>{events_custom_availability}</strong></p>
                                                {/if}
                                            </div>
                                        {/case}
                                    {/exp:switchee}

                                </article>

                            </div>

                        {/if}

                    </section>

                    <section id="private-boxes-content" class="tab-content grid grid--alpha" aria-labelledby="private-boxes-trigger">

                        {if events_pb_notice != ''}
                            <div class="text-center">
                                <p class="alert">
                                    {events_pb_notice}
                                    <span class="alert__icon icon icon--info-alpha"></span>
                                </p>
                            </div>
                        {/if}

                        <div class="grid__row">

                            {embed="event/_tickets" page_id="{entry_id}" type="pb" offset="0" limit="3"}

                        </div>

                        {if events_pb_tickets:total_rows > 3}

                            <div id="private-boxes-tickets" class="toggle-content grid__row" aria-labelledby="private-boxes-tickets-trigger">

                                {embed="event/_tickets" page_id="{entry_id}" type="pb" offset="3" limit="100"}

                            </div>

                            <div class="grid__row column--alpha options-row text-center">
				 <!-- Extra buy ticket button -->
				{if events_extra_av_url != ""}
                          	   <p class="options"><br />
					<a href="{events_extra_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">
					{if events_extra_ticket_text !=""}
						{events_extra_ticket_text}
					{if:else}
						Buy Tickets
					{/if}
					</a>
				</p>
				{/if}
				<!--  -->
                                <p class="options">
                                    <a href="#" id="private-boxes-tickets-trigger" class="link link--alpha link--sm button button--alpha options-more" aria-label="private-boxes-tickets" data-toggle><span data-toggle-replace="More|Less">More</span> private box ticket options</a>
                                </p>
                                
                                {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                                    {case value="tba" default="true"}
                                        <p class="options"><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                    {/case}
                                    {case value="available"}
                                        <p class="options"><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">Buy Tickets</a></p>
                                    {/case}
                                    {case value="otd"}
                                        <p class="options"><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                    {/case}
                                    {case value="sold-out"}
                                        <p class="options"><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View more events</a></p>
                                    {/case}
                                    {case value="custom"}
                                        {if events_custom_cta_text != ''}
                                            <p class="options"><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="{events_custom_cta_text}">{events_custom_cta_text}</a></p>
                                        {/if}
                                    {/case}
                                {/exp:switchee}
                            </div>

                            <div  class="grid__row column--alpha options-row text-center">
                                {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                                    {case value="tba" default="true"}
                                        <p><strong>Tickets to be announced</strong></p>
                                    {/case}
                                    {case value="available"}
                                        <p><strong>Hurry! Limited Advanced Tickets. Discount with immediate online booking.</strong></p>
                                    {/case}
                                    {case value="otd"}
                                        <p><strong>Advanced tickets are sold out. More tickets on the door.</strong></p>
                                    {/case}
                                    {case value="sold-out"}
                                        <p><strong>All tickets are sold out.</strong></p>
                                    {/case}
                                    {case value="custom"}
                                        {if events_custom_cta_text != ''}
                                            <p><strong>{events_custom_availability}</strong></p>
                                        {/if}
                                    {/case}
                                {/exp:switchee}

                            </div>

                        {if:elseif events_pb_tickets:total_rows < 4 && events_pb_tickets:total_rows > 0}

                            <div class="grid text-center">
				<!-- Extra buy ticket button -->
				{if events_extra_av_url != ""}
                          	   <p class="options"><br />
					<a href="{events_extra_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">
					{if events_extra_ticket_text !=""}
						{events_extra_ticket_text}
					{if:else}
						Buy Tickets
					{/if}
					</a>
				</p>
				{/if}
				<!--  -->
                                <article class="grid__row box box--sm">

                                    {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                                        {case value="tba" default="true"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                                <p><strong>Tickets to be announced</strong></p>
                                            </div>
                                        {/case}
                                        {case value="available"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">Buy Tickets</a></p>
                                                <p><strong>Hurry! Limited Advanced Tickets. Discount with immediate online booking.</strong></p>
                                            </div>
                                        {/case}
                                        {case value="otd"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                                                <p><strong>Advanced tickets are sold out. More tickets on the door.</strong></p>
                                            </div>
                                        {/case}
                                        {case value="sold-out"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View more events</a></p>
                                                <p><strong>All tickets are sold out.</strong></p>
                                            </div>
                                        {/case}
                                        {case value="custom"}
                                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                                {if events_custom_cta_text != ''}
                                                    <p><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="{events_custom_cta_text}">{events_custom_cta_text}</a></p>
                                                    <p><strong>{events_custom_availability}</strong></p>
                                                {/if}
                                            </div>
                                        {/case}
                                    {/exp:switchee}

                                </article>

                            </div>

                        {/if}

                    </section>

                </div>

            </div>

            {!-- {if events_ticket_availability != '-'} --}
                
                <!-- removing diamond divider -->
                <!-- <div class="divider">
                    <div class="divider__diamond"></div>
                </div> -->

               
            {!-- {/if} --}


            <div class="grid__row box box--alpha no--br no--bl">

                <article id="content" aria-labelledby="content-trigger" class="grid__column sm--column-12-12 {if event_type == 'race'}med--column-6-12{if:else}med--column-9-12{/if}">

                    <header class="heading line--heading">
                        <h1 class="heading__title"><span class="line__span span--alpha">Event Details</span></h1>
                        <h2 class="heading__subtitle subtitle--alpha">
                            {exp:essence_site_description} Racecourse {events_date format="%d/%m/%Y"}
				{if events_closing_time != '' || events_opening_time != ''}
					| {events_opening_time} 
					{if events_closing_time != ''}
						{if events_opening_time != ''}
							-
						{if:else}
							finishes 
						{/if} 
						{events_closing_time}
					{/if}
				{/if}
                        </h2>
                    </header>
                    <!--index-->
                    <p>{events_description}</p>
                    <!--/index-->
                </article>

                {if events_schedule:total_rows > 0 && event_type == 'race'}
                    {embed="event/_schedule" page_id="{entry_id}"}
                {/if}

            </div>

            <div class="grid__row box box--alpha no--bt no--br no--bl">

                {embed="layout/_content-area" type="testimonials" page_id="{entry_id}" chnl="{chnl}"}

            </div>

            {embed="layout/_content-area" type="related-links" number="pyrd" heading="Plan Your Day" chnl="{chnl}" modifier="box"}

<!-- deleting diamond divider -->
<!-- 
            {if events_related_links:total_rows > 0}
                <div class="divider divider--sm">
                    <div class="divider__diamond"></div>
                </div>
            {/if}
 -->

            {embed="layout/_content-area" type="related-links" number="events" heading="Other Similar Events" chnl="{chnl}" modifier="box"}

        </div>

    {/if}
{/exp:channel:entries}
{embed="layout/_footer"}
