{exp:essence_topmost channel_name="landing_pages" parse="inward"}
    {exp:channel:entries cache="yes" refresh="360" entry_id="{topmost_entry_id}" require_entry="yes" limit="1"}
        <nav class="snav box box--beta no--br no--bb no--bl">
            <ul class="snav__parent__list">
                <li class="snav__parent__title">{title}</li>
    {/exp:channel:entries}

    {exp:structure_entries parent="{topmost_entry_id}" depth="2"}
        {if '{depth}' == 1}

            <li class="snav__parent__item {if '{children_total}' > 0}has-children{/if}">
                <a href="{page_uri}" class="snav__parent__link {if '{current_page}' == 1 || '{current_parent}' == 1}is-selected{/if} {if '{last_sibling}' == 1}is-last{/if}" title="{title}">{title}</a>

            {if ('{current_parent}' == 1 || '{current_page}' == 1) && '{children_total}' != 0}
                <ul class="snav__child__list">
            {if:else}
                </li>
            {/if}

        {if:elseif '{parent_active}' == 1 || '{current_page}' == 1}

            <li class="snav__child__item">
                <a href="{page_uri}" class="snav__child__link {if '{current_page}' == 1 || '{current_parent}' == 1}is-selected{/if}" title="{title}">{title}</a>
            </li>

            {if '{last_sibling}' == 1}
                    </ul>
                </li>
            {/if}

        {/if}

    {/exp:structure_entries}

        </ul>
    </nav>

    {exp:channel:entries cache="yes" refresh="360" entry_id="{topmost_entry_id}" require_entry="yes" limit="1"}
        {landing_page_child_ads}

            <section class="sponsor-box">
                {if heading}
                    <h2>{heading}</h2>
                {/if}
                <article class="sponsor-ad" style="background-image: url({image:medium});">
                    {if logo}
                        <img src="{logo:medium}" alt="Logo">
                    {/if}
                    <p class="sponsor-ad__title">{description}</p>
                    <a class="sponsor-ad__action" href="{cta_link}" title="{cta_text}">{cta_text}</a>
                </article>
            </section>

        {/landing_page_child_ads}
    {/exp:channel:entries}
{/exp:essence_topmost}