{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}
    {{embed:area}_cta}

        <div class="grid med--grid--table {embed:modifier}">

            <article class="grid__row box box--delta text-center cta">
                <div class="grid__column sm--column-12-12 med--column-6-12">
                    <p class="cta__desc">{description}</p>
                </div>
                <aside class="grid__column sm--column-12-12 med--column-6-12">
                    <p class="cta__action"><a class="button button--beta button--sm" href="{if url != ''}{url}{if:else}{link}{page_uri}{/link}{/if}" title="{button_text}">{button_text}</a></p>
                </aside>
            </article>

        </div>

    {/{embed:area}_cta}

{/exp:channel:entries}