{exp:essence_stallion_filter
    entryID="{embed:entryID}" 
    search_grid_field="stallions_progeny"
    parse="inward"
}

    {exp:channel:entries cache="yes" refresh="360" limit="1" channel="stallions"}

        <header class="heading line--heading">
            <h1 class="heading__title">
                <span class="line__span span--alpha">Stallion 2 year old progeny</span>
            </h1>
        </header>

        <table class="standard-table js-table">
            <thead>
                <tr>
                    <th class="is-first">Progeny Name</th>
                    <th>Sex</th>
                    <th>Year of Birth</th>
                    <th>Dam</th>
                    <th>Breeder Name</th>
                    <th>Trainer Name</th>
                </tr>
            </thead>
            <tbody>
                {if stallions_progeny:total_rows == 0 || '{two_year_olds}' == 'no-result'}
                    <tr>
                        <td colspan="6">Sorry, no stallion 2 year old progeny found.</td>
                    </tr>
                {if:else}
                    {stallions_progeny {two_year_olds}}
                        <tr>
                            <th>{stallions_progeny:progeny}</th>
                            <td>{stallions_progeny:sex}</td>
                            <td>{stallions_progeny:yob}</td>
                            <td>{stallions_progeny:dam}</td>
                            <td>{stallions_progeny:breeder}</td>
                            <td>{stallions_progeny:trainer}</td>
                        </tr>
                    {/stallions_progeny}
                {/if}
            </tbody>
        </table>

    {/exp:channel:entries}

{/exp:essence_stallion_filter}