{preload_replace:chnl="restaurants"}

{embed="layout/_header"}

    <div class="page-content__inner grid">
        {exp:channel:entries cache="yes" refresh="360"
            limit="1"
            status="{publisher:entry_status}"
            require_entry="yes"
            show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
            show_expired="{if get_post:publisher_status != ''}yes{/if}"
        }

            {if no_results}
                {redirect="404"}
            {/if}

            {embed="layout/_content-area" number="c1" type="intro-beta" page_id="{entry_id}" chnl="{chnl}" breadcrumbs="true"}

            <div class="grid__row">

                <div class="grid__column column--alpha sm--column-12-12 med--column-12-12">

                    {embed="layout/_content-area" number="c2" type="image-gallery" page_id="{entry_id}" chnl="{chnl}"}

                </div>

                <section class="grid__column column--alpha sm--column-12-12 med--column-9-12">

                    <article class="box box--content box--alpha">

                        <!--index-->
                        {embed="layout/_content-area" number="c3" type="copy" page_id="{entry_id}" chnl="{chnl}"}
                        <!--/index-->

                    </article>

                    {if {chnl}_c4_type == 'event-based'}
                        <div class="box box--content">

                            {exp:stash:set name="ticket_type"}{if channel_name == 'private_boxes'}private-box{if:else}restaurant{/if}{/exp:stash:set}

                            <header class="heading line--heading">
                                <h1 class="heading__title"><span class="line__span">Book {if channel_name == 'private_boxes'}this private box{if:else}at this restaurant{/if} for the following events</span></h1>
                                <h2 class="heading__subtitle subtitle--alpha">{title} is available at many of our events. <a href="/events-tickets">See What's On</a>.</h2>
                            </header>

                            <div class="grid med--grid--table gutter-pull">
                                {exp:playa:parents channel="events" field="events_hospitality_tickets|events_pb_tickets" col="ticket_linked_to" parse="inwards" limit="3" date_field="events_date" date_field_start="{current_time}" orderby="events_date" sort="asc"}
                                    <div class="grid__row listing listing--venue">
                                        <div class="grid__column sm--column-12-12 med--column-4-12 lg--column-4-12">
                                            <header class="heading">
                                                <h1 class="heading__title">{title}</h1>
                                                <time class="heading__subtitle subtitle--alpha" datetime="{events_date format="%Y-%m-%d"} {events_opening_time}">{events_date format="%j%S %F %Y"}</time>
                                            </header>
                                        </div>
                                        <div class="grid__column sm--column-12-12 med--column-5-12 lg--column-4-12">
                                            <p><a href="{page_uri}?ticket-type={exp:stash:get name='ticket_type'}" class="button button--sm" title="View hospitality options">View hospitality options</a></p>
                                        </div>
                                        <div class="grid__column sm--column-12-12 med--column-3-12 lg--column-4-12">

                                            {exp:essence_lowest_number values="{events_hospitality_tickets search:ticket_linked_to='{structure:page:entry_id}'}{advanced_single_price}|{advanced_group_price}|{otd_price}|{/events_hospitality_tickets}{events_pb_tickets search:ticket_linked_to='{structure:page:entry_id}'}{advanced_single_price}|{advanced_group_price}|{otd_price}|{/events_pb_tickets}"}
                                                {if '{lowest}' != '0'}
                                                    <p class="highlight">Prices From &pound;{lowest} per person</p>
                                                {/if}
                                            {/exp:essence_lowest_number}

                                        </div>

                                    </div>
                                {/exp:playa:parents}
                            </div>

                        </div>
                    {if:else}
                        {embed="layout/_content-area" number="c4" type="cta" page_id="{entry_id}" chnl="{chnl}"}
                    {/if}

                </section>

                <aside class="grid__column column--alpha sm--column-12-12 med--column-3-12">

                    {embed="navigation/_sidebar"}

                </aside>

                <div class="grid__column sm--column-12-12 med--column-12-12">

                    {embed="layout/_content-area" number="c5" type="related-links" heading="Other {if channel_name == 'private_boxes'}private boxes{if:else}restaurants{/if}" page_id="{entry_id}" chnl="{chnl}" modifier="box box--beta"}

                </div>

            </div>

        {/exp:channel:entries}
    </div>

{embed="layout/_footer"}
