{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}
    <header>
        {{embed:area}_cta}
            <div class="grid__column grid__column sm--column-12-12 med--column-4-12 home-events">
                <figure class="home-event-figure">
                    <img src="{homepage}{image}">
                </figure>
                <h3 class="heading__title">{event_heading}</h3>
                <div class="promo-box__divider divider divider--charlie">
                    <div class="divider__diamond"></div>
                </div>
                <p class="promo-box__desc">{venue}</p>
                <p class="promo-box__desc date-event">{event_link}{events_date format="%j%S %F %Y"}{if events_end_date != ''} to {events_end_date format="%j%S %F %Y"}{/if}{/event_link}
                    </p>
                <p class="event-more-info"><a href="{event_link}{page_uri}{/event_link}"><button class="more-info">More Information</button></a></p>
            </div>    
        {/{embed:area}_cta}
    </header>

{/exp:channel:entries}