{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    <?php if ('{{embed:area}_type}' == 'promo-event'): ?>
        {{embed:area}_event}
            <a href="{page_uri}" class="promo-box promo--box--alpha promo--box--sm has-image" style="background-image: url({events_image:medium});">
        {/{embed:area}_event}
    <?php elseif ('{{embed:area}_type}' == 'promo-text'): ?>
        <a href="{{embed:area}_cta}<?php if ('{url}' != ''): ?>{url}<?php else:?>{link}{page_uri}{/link}<?php endif; ?>{/{embed:area}_cta}" class="promo-box promo--box--alpha promo--box--sm has-image" style="background-image: url({{embed:area}_image:medium});">
    <?php endif; ?>
        <div class="promo-box__inner">
            <div class="faux-table faux--table--alpha">
                <article class="faux-table__cell">

                <?php if ('{{embed:area}_type}' == 'promo-event'): ?>

                    {{embed:area}_event}

                        <h1 class="promo-box__title">{title}</h1>
                        <div class="promo-box__divider divider divider--charlie">
                            <div class="divider__diamond"></div>
                        </div>
                        <p class="promo-box__desc">{events_home_description}</p>
                        <span class="link link--beta link--md">Find out more</span>

                    {/{embed:area}_event}

                <?php elseif ('{{embed:area}_type}' == 'promo-text'): ?>
                    {{embed:area}_headings}
                        <h1 class="promo-box__title">{heading}</h1>
                        <div class="promo-box__divider divider divider--charlie">
                            <div class="divider__diamond"></div>
                        </div>
                        <p class="promo-box__desc">{sub_heading}</p>
                    {/{embed:area}_headings}
                    {{embed:area}_cta}
                        <span class="link link--beta link--md">{text}</span>
                    {/{embed:area}_cta}

                <?php endif; ?>

                </article>
            </div>
        </div>
        <div class="promo-box__img__overlay"></div>
    </a>

{/exp:channel:entries}