{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    <div
        class="grid__row promo-box promo--box--charlie has-image"
        style="background-image: url({events_image:medium});"
        data-img-medium="{events_image:medium}"
        data-img-large="{events_image:large}"
    >

        <div class="promo-box__inner grid__column sm--column-12-12 med--column-12-12">

            <header class="heading line--diamond--heading">

                <h1 class="heading__title title--beta">
                    <span class="diamond__group group--left group--beta">
                        <span class="diamond__icon"></span>
                    </span>
                    {title}
                    <span class="diamond__group group--right group--beta">
                        <span class="diamond__icon"></span>
                    </span>
                </h1>
                <time class="heading__desc desc--beta" datetime="{events_date format="%d/%m/%Y"}">
                    {if '{exp:playa:total_parents field="events_parent_event" channel="events"}' != 0}
                        {exp:essence_date_range start='
                            {exp:playa:parents field="events_parent_event" channel="events" orderby="events_date" sort="asc" limit="1"}
                                {events_date}
                            {/exp:playa:parents}
                            ' end='
                            {exp:playa:parents field="events_parent_event" channel="events" orderby="events_date" sort="desc" limit="1"}
                                {events_date}
                            {/exp:playa:parents}'
                        parse="inward"}
                    {if:else}
                        <strong>{events_date format="%j%S %F %Y"}</strong> {events_opening_time} - {events_closing_time}
                    {/if}
                </time>
                <h2 class="heading__subtitle subtitle--beta">{events_short_description}</h2>
                
                <!-- Reproducing the ticket CTA in header -->
                <div class="grid text-center">
                    {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                        {case value="tba" default="true"}
                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                            </div>
                        {/case}
                        {case value="available"}
                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                <p><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="Buy Tickets">Buy Tickets</a></p>
                            </div>
                        {/case}
                        {case value="otd"}
                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View other events</a></p>
                            </div>
                        {/case}
                        {case value="sold-out"}
                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                <p><a href="{structure:parent:uri}" class="button button--beta button--sm" title="View other events">View more events</a></p>
                            </div>
                        {/case}
                        {case value="custom"}
                            <div class="grid__column sm--column-12-12 med--column-12-12">
                                {if events_custom_cta_text != ''}
                                    <p><a href="{events_av_url}" class="button button--beta button--sm js-ga" data-site="{site_short_name}" data-type="ticket" data-name="{title}" title="{events_custom_cta_text}">{events_custom_cta_text}</a></p>
                                {/if}
                            </div>
                        {/case}
                    {/exp:switchee}
                </div>

                <p><a href="#content" id="content-trigger" aria-label="content" class="link link--beta link--sm js-scrollto" title="More information">More information</a></p>
            </header>

        </div>
        <span class="promo-box__img__overlay"></span>

        {if events_sponsorship == 'on' && events_spon_image}
            <span class="promo-box__sponsor">
                <img src="{events_spon_image}">
            </span>
        {/if}

    </div>

{/exp:channel:entries}