<fieldset id="filters" class="results-filter__container grid is-hidden">
    <div class="grid__row">
        <div class="grid__column sm--column-12-12 med--column-12-12 event_type_filter">
            {if site_id == 1 }
            <input type='hidden' name='event_category' id='event_event_category' value='{if get_post:event_category}{get_post_safe:event_category}{if:elseif embed:default_race_category != ''}{embed:default_race_category}{if:else}race{/if}'/>
            <input type='hidden' name='type' value='{if get_post:type}{get_post:type}{if:else}races{/if}' id='event_event_type'/>
            <select  id='race_event_category_filter' >
                {if embed:default_race_category == ''}<option value=''></option>{/if}
                {exp:channel:entries cache="yes" refresh="360" channel="event_categories"  site="sandown" dynamic="no"
                 orderby='entry_id' sort='asc'}<option value='{event_category_type}|{url_title}' 
                    {if get_post:event_category == '' && url_title == embed:default_race_category}
                        selected
                    {if:elseif url_title == get_post:event_category}
                        selected
                    {/if}>
                     {title}
                    </option>
                {/exp:channel:entries}
               
            </select>

            <div class="heading plain--heading">
                <div class='event_type_description heading__desc desc--charlie'>
                    {exp:channel:entries cache="yes" refresh="360" channel="event_categories" limit="1" site="sandown" dynamic="no"
                 url_title="{get_post:event_category}|{embed:default_race_category}"}
                        {event_category_description}
                    {/exp:channel:entries}
                </div>
            </div>
        {/if}
        </div>

        <div class="grid__column sm--column-12-12 med--column-9-12">

            <div class="results-filter__filter has-title">
                <span class="results-filter__label">Date</span>
                <label for="date-all" class="select-tab {if get_post:date == 'all' || get_post:date == ''}is-checked{/if} js-radio" data-active="is-checked" data-group="date">
                    <input name="date" id="date-all" type="radio" value="all" class="select-tab__input" {if get_post:date == 'all' || get_post:date == ''}checked{/if}> All
                </label>
            </div>

            {exp:essence_month_loop for="12"}

                <div class="results-filter__filter {if '{new_year}' == '1'}has-title{/if}">
                    {if '{new_year}' == '1'}
                        <span class="results-filter__label label--alpha">{year}</span>
                    {/if}
                    <label for="date-{index}" class="select-tab {if '{get_post:date}' == '{year}-{month}'}is-checked{/if} js-radio" data-active="is-checked" data-group="date">
                        <input name="date" id="date-{index}" type="radio" value="{year}-{month}" class="select-tab__input" {if '{get_post:date}' == '{year}-{month}'}checked{/if}> {month_name}
                    </label>
                </div>

            {/exp:essence_month_loop}

        </div>

        <div class="grid__column sm--column-12-12 med--column-3-12">

            <div class="results-filter__venue">

                {exp:channel:entries cache="yes" refresh="360" channel="settings" limit="1" dynamic="no"}
                    {if setting_racecourses:total_selections > 0 || site_short_name == 'group'}
                      <label for="venue" class="results-filter__label">Venue <div class="results-filter__info__icon icon icon--info-beta tooltip"><span class="tooltip__content">This will filter what's on at one of the other Jockey Club courses in the same region. <strong>Clicking on the listing will take you to the relevant racecourse site</strong>.</span></div></label>

                            <select name="venue" id="venue">
                                {if site_short_name == 'group'}
                                    <option value='all'>All Racecourses</option>
                                {if:else}
                                    <option value="{site_short_name}" {if '{get_post:venue}' == '{site_short_name}'}selected {/if}>{exp:essence_site_description}
                                    </option>
                                {/if}

                                {setting_racecourses}
                                    <option value="{option_name}" {if '{get_post:venue}' == '{option_name}'}selected{/if}>{option}</option>
                                {/setting_racecourses}
                            </select>
                    {/if}
                {/exp:channel:entries}

            </div>

        </div>

        <div class="grid__column sm--column-12-12 med--column-12-12 is-js-hidden">

            <div class="box box--sm text-center">

                <input type="submit" name="filter" value="Filter results" class="listing-page__submit button button--sm">

            </div>

        </div>

    </div>

</fieldset>

{if site_short_name != 'group'}

    <fieldset class="grid">

        <div class="grid__row">

            <div class="grid__column sm--column-12-12 med--column-8-12 column--alpha">

                <ul class="tabbed-list tabbed--beta">
                    <li class="tabbed-list__item">
                        <label for="type-races" class="tabbed-list__link {if 'races' == get_post:type || '' == get_post:type}is-selected is-checked{/if} js-radio" data-active="is-checked is-selected" data-group="type">
                            <input name="type" value="races" type="radio" {if get_post:type == 'races'}checked{/if} class="is-js-hidden"> <span>Races</span>
                        </label>
                    </li>
                    <li class="tabbed-list__item">
                        <label for="type-events" class="tabbed-list__link {if get_post:type == 'events'}is-selected is-checked{/if} js-radio" data-active="is-checked is-selected" data-group="type">
                            <input name="type" value="events" type="radio" {if get_post:type == 'events'}checked{/if} class="is-js-hidden"> <span>Events</span>
                        </label>
                    </li>
                </ul>

            </div>

        </div>

    </fieldset>

{/if}
