{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}
    <aside class="grid__column sm--column-12-12 med--column-6-12">

        <header class="heading line--heading">
            <h1 class="heading__title"><span class="line__span span--alpha">Race Schedule</span></h1>
            <h2 class="heading__subtitle subtitle--alpha"></h2>
        </header>

        <table class="standard-table js-table">
            <thead>
                <tr>
                    <th class="is-first">Time</th>
                    <th>Race</th>
                    <th>Distance</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {events_schedule}
                    <tr>
                        <th>{time}</th>
                        <td>{race}</td>
                        <td>{distance}</td>
                        <td>{type}</td>
                    </tr>
                {/events_schedule}
            </tbody>
        </table>

    </aside>
{/exp:channel:entries}