{if ajax}
    {
        "containers": {
            "#search-listings" :
                {essence_json}
                    {exp:essence_filter parse="inward"}
                        {exp:essence_elasticsearch:results search_param="q" offset="{offset}" limit="{limit}" site_param="site" default_site="{site_short_name}"}

                            {if filter_no_results && get_post:more == ''}
                                <header class="heading line--heading">
                                    <h1 class="heading__title"><span class="line__span span--alpha">No results!</span></h1>
                                    <h2 class="heading__subtitle subtitle--alpha">Unfortunately, we have not found anything matching &ldquo;{if get_post_safe:q}{get_post_safe:q}{/if}&rdquo;. Please try again.</h2>
                                </header>
                            {/if}

                            {if 1 == page_item_count && get_post:more == ''}
                                <header class="heading line--heading">
                                    <h1 class="heading__title"><span class="line__span span--alpha">Search results</span></h1>
                                    <h2 class="heading__subtitle subtitle--alpha">&ldquo;{get_post_safe:q}&rdquo; ({results_total} Result{if results_total > 1 || results_total < 1}s{/if})</h2>
                                </header>
                            {/if}

                            {if '{title}' != ''}

                                <article class="listing listing--search grid__row">
                                    <div class="grid__column sm--column-12-12 med--column-12-12">
                                        <h1 class="search__title"><a href="{url}" title="{title}" {if '{site}' != '{site_short_name}'}class="tooltip"{/if}>{title} {if '{site}' != '{site_short_name}'}<span class="tooltip__content">By clicking here you will be redirected away from {site_name} racecourse</span>{/if}</a></h1>
                                        <p class="search__desc">{description}</p>
                                        <a href="{url}" class="link link--charlie link--sm" title="View result">{url}</a>
                                    </div>
                                </article>

                            {/if}

                        {/exp:essence_elasticsearch:results}
                    {/exp:essence_filter}
                {/essence_json}
        },
        "fields": {
            {exp:essence_filter parse="inward"}
                "from": {next_from}
            {/exp:essence_filter}
        }

    }
{if:else}
    {embed="layout/_header"}

    <div class="page-content__inner">

        <div class="grid">

            {embed="modules/_intro-beta" overwrite="true" heading="Search Results" sub_heading="Search this site and other Jockey Club sites"}

            <section class="grid__row box box--beta no--br no--bb no--bl">
                <div class="grid__column sm--column-12-12 med--column-12-12">
                    <form action="{structure:page:uri}" method="GET" class="form form--filter">

                        <label for="q" class="form-label">Search: </label>
                        <ul>
                            <li class="form__input">
                                <select name="site" id="filter-sites">
                                    <option value="{site_short_name}" {if get_post:site == '{site_short_name}'}selected{/if}>This Site</option>
                                    <option value="all" {if get_post:site == 'all'}selected{/if}>All Jockey Club Sites</option>
                                </select>
                            </li>
                            <li class="form__input">
                                <input type="search" name="q" id="q" class="form__filter__input form-input input--med" value="{if get_post_safe:q}{get_post_safe:q}{/if}">
                            </li>
                            <li class="form__input is-last">
                                <input type="submit" name="search" class="form__filter__submit button button--sm" value="Search">
                            </li>
                        </ul>

                    </form>
                </div>
            </section>

        </div>

        <form id="ajax-form" action="{structure:page:uri}" method="GET" class="grid">
            <div class="grid__row box box--alpha no--br no--bl">
                <div id="search-listings" class="grid__column sm--column-12-12 med--column-12-12">

                    {exp:essence_filter parse="inward"}
                        {exp:essence_elasticsearch:results search_param="q" offset="{offset}" limit="{limit}" site_param="site" default_site="{site_short_name}"}

                            {if filter_no_results}
                                <header class="heading line--heading">
                                    <h1 class="heading__title"><span class="line__span span--alpha">No results!</span></h1>
                                    <h2 class="heading__subtitle subtitle--alpha">Unfortunately, we have not found anything matching &ldquo;{if get_post_safe:q}{get_post_safe:q}{/if}&rdquo;. Please try again.</h2>
                                </header>
                            {/if}

                            {if 1 == page_item_count}
                                <header class="heading line--heading">
                                    <h1 class="heading__title"><span class="line__span span--alpha">Search results</span></h1>
                                    <h2 class="heading__subtitle subtitle--alpha">&ldquo;{get_post_safe:q}&rdquo; ({results_total} Result{if results_total > 1 || results_total < 1}s{/if})</h2>
                                </header>
                            {/if}

                            {if '{title}' != ''}

                                <article class="listing listing--search grid__row">
                                    <div class="grid__column sm--column-12-12 med--column-12-12">
                                        <h1 class="search__title"><a href="{url}" title="{title}" {if '{site}' != '{site_short_name}'}class="tooltip"{/if}>{title} {if '{site}' != '{site_short_name}'}<span class="tooltip__content">By clicking here you will be redirected away from {site_name}</span>{/if}</a></h1>
                                        <p class="search__desc">{description}</p>
                                        <a href="{url}" class="link link--charlie link--sm" title="View result">{url}</a>
                                    </div>
                                </article>

                            {/if}

                        {/exp:essence_elasticsearch:results}
                    {/exp:essence_filter}

                </div>
            </div>
            {exp:essence_filter parse="inward"}
                <div class="grid__row box ">
                    <div class="grid__column sm--column-12-12 med--column-12-12 text-center">
                        <input type="hidden" name="q" value="{get_post_safe:q}">
                        <input type="hidden" name="from" value="{next_from}">
                        <input type="submit" name="more" value="View more" class="listing-page__submit button button--sm">
                    </div>
                </div>
            {/exp:essence_filter}
        </form>
    </div>

    {embed="layout/_footer"}
{/if}