{if embed:upcoming != 'true'}

    {exp:essence_filter type="{embed:type}" parse="inward" default_race_category="{embed:default_race_category}" site_short_name="{site_short_name}"}
        {exp:channel:entries cache="yes" refresh="360" channel="events" {event_type} site="{venue}" {exclude_multiday} dynamic="no" date_field="events_date" date_field_start="{start_date}" {event_category} date_field_stop="{end_date}" orderby="events_date" sort="asc" offset="{offset}" limit="{limit}"}          

            {if filter_no_results}
                {if get_post:more == ''}
                    <div class="box box--sm">
                        <p>Sorry, no events currently scheduled for this month.</p>
                    </div>
                {/if}
            {/if}

            {if get_post:more != '' && count == 1}
                <div class="divider divider--sm">
                    <div class="divider__diamond"></div>
                </div>
            {/if}

            {embed="listings/_item-{embed:size}" entry_id="{entry_id}" count="{count}" total_results="{total_results}"}

        {/exp:channel:entries}
    {/exp:essence_filter}
{if:else}
    {if get_post:more == ''}
        {exp:essence_filter type="{embed:type}" parse="inward" site_short_name="{site_short_name}" listing_section='right'}

            {exp:channel:entries cache="yes" refresh="360" channel="events" {event_type} site="{venue}" {exclude_multiday} dynamic="no" date_field="events_date" date_field_start="{current_time format="%U"}" date_field_stop="" orderby="events_date" sort="asc" offset="0" limit="3"}

                {embed="listings/_item-{embed:size}" entry_id="{entry_id}" count="{count}" total_results="{total_results}"}

            {/exp:channel:entries}

        {/exp:essence_filter}
    {/if}
{/if}