{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    <header class="heading line--heading">
        {{embed:area}_headings}
            <h1 class="heading__title"><span class="line__span">{heading}</span></h1>
            <h2 class="heading__subtitle subtitle--alpha">{sub_heading}</h2>
        {/{embed:area}_headings}
    </header>

    <section class="media-listing">
        {{embed:area}_page}
            <article class="plain-listing__item  plain-listing__item__content">
                <figure>
                    <img src="{homepage}{image}">
                </figure>            
                <p class="plain-listing__desc">{content}</p>
                <a href="{link}{page_uri}{/link}" class="link link--sm link--sm--faux-btn" title="{button}">{button}</a>
            </article>
        {/{embed:area}_page}
    </section>

{/exp:channel:entries}