{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:entry_id}"
    site="not none"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    {exp:switchee variable="{channel_short_name}" parse="inward"}

        {case value="events"}

            <article class="listing {if embed:count == 1 && get_post:more == ''}is-first{/if} grid__row">
                <span class="label"></span>
                <div class="grid__column sm--column-12-12 med--column-4-12">
                    <div class="listing__media label">
                        {if events_image}
                            <img src="{events_image:medium}" alt="">
                        {if:else}
                            <img src="/images/placeholder-16x9.jpg" alt="">
                        {/if}
                    </div>
                </div>
                <div class="listing__desc grid__column sm--column-12-12 med--column-8-12">
                    <header class="heading">
                        <h1 class="heading__title">{title}</h1>
                        <h2 class="heading__subtitle subtitle--alpha">
                            {if '{exp:playa:total_parents field="events_parent_event" channel="events"}{/exp:playa:total_parents}' != 0}
                                {exp:playa:parents field="events_parent_event" channel="events" orderby="events_date" sort="asc"}
                                    {title} | <time datetime="{events_date format="%d/%m/%Y"} {events_opening_time}">{events_date format="%j%S %F %Y"}
					{if events_closing_time != '' || events_opening_time != ''}
						| {events_opening_time} 
						{if events_closing_time != ''}
							{if events_opening_time != ''}
								-
							{if:else}
								finishes 
							{/if} 
							{events_closing_time}
						{/if}
					{/if}				
				    </time><br>
                                {/exp:playa:parents}
                            {if:else}
                                <time datetime="{events_date format="%Y-%m-%d"} {events_opening_time}">{events_date format="%j%S %F %Y"}
					{if events_closing_time != '' || events_opening_time != ''}
						| {events_opening_time} 
						{if events_closing_time != ''}
							{if events_opening_time != ''}
								-
							{if:else}
								finishes 
							{/if} 
							{events_closing_time}
						{/if}
					{/if}				
				</time>
                            {/if}
                        </h2>
                    </header>
                    <p>{events_short_description}</p>
                </div>
                <div class="listing__action grid__column sm--column-12-12 med--column-12-12">
                    <div class="grid lg--grid--table">
                        <div class="grid__row text-center">
                            <div class="grid__column sm--column-12-12 med--column-12-12 lg--column-4-12 column--alpha">
                                {if events_ticket_availability == 'available'}
                                    <p class="listing__action__info">Limited advanced tickets</p>
                                {if:elseif events_ticket_availability == 'otd'}
                                    <p class="listing__action__info">Tickets on the door</p>
                                {if:elseif events_ticket_availability == 'sold-out'}
                                    <p class="listing__action__info">Tickets sold out</p>
                                {if:elseif events_ticket_availability == 'tba'}
                                    <p class="listing__action__info">Tickets to be announced</p>
                                {/if}
                            </div>
                            <div class="grid__column sm--column-12-12 med--column-12-12 lg--column-5-12">
                                <p>
                                    {if '{entry_site_id}' == '{site_id}'}
                                        <a href="{page_uri}" class="button button--sm" title="More info &amp; tickets">More info &amp; tickets</a>
                                    {if:else}
                                        <a href="{structure:all_sites_page_url_for:{entry_id}}" class="button button--sm tooltip" title="Link to another racecourse">
                                            More info &amp; tickets
                                            <span class="tooltip__content">By clicking here you will be redirected away from {site_name}</span>
                                        </a>
                                    {/if}
                                </p>
                            </div>
                            <div class="grid__column sm--column-12-12 med--column-12-12 lg--column-3-12 column--alpha">
                                {exp:essence_lowest_number values="{events_admission_tickets}{advanced_single_price}|{advanced_group_price}|{otd_price}|{/events_admission_tickets}"}
                                    {if '{lowest}' != '0'}
                                        <p class="listing__action__highlight">Prices From &pound;{lowest} per person</p>
                                    {/if}
                                {/exp:essence_lowest_number}
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        {/case}

        {case value="restaurants|private_boxes"}

            <article class="listing {if embed:count == 1}is-first{/if} grid__row">
                <span class="label"></span>
                <div class="grid__column sm--column-12-12 med--column-4-12">
                    <div class="listing__media label">
                        {if restaurants_c2_image_gallery:total_rows == 0}
                            <img src="/images/placeholder-16x9.jpg" alt="">
                        {if:else}
                            {restaurants_c2_image_gallery limit="1"}
                                {if image}
                                    <img src="{image:medium}" alt="">
                                {if:else}
                                    <img src="/images/placeholder-16x9.jpg" alt="">
                                {/if}
                            {/restaurants_c2_image_gallery}
                        {/if}
                    </div>
                </div>
                <div class="listing__desc grid__column sm--column-12-12 med--column-8-12">
                    <header class="heading">
                        <h1 class="heading__title">{title}</h1>
                        <h2 class="heading__subtitle subtitle--alpha">{restaurants_listing_sub_title}</h2>
                    </header>
                    <p>{restaurants_short_description}</p>
                    <p><a href="{page_uri}" class="button button--sm" title="More info">More info</a></p>
                </div>
            </article>

        {/case}

        {case value="venues"}

            <article class="listing {if embed:count == 1}is-first{/if} grid__row">
                <span class="label"></span>
                <div class="grid__column sm--column-12-12 med--column-4-12">
                    <div class="listing__media label">
                        {if venue_c2_image_gallery:total_rows == 0}
                            <img src="/images/placeholder-16x9.jpg" alt="">
                        {if:else}
                            {venue_c2_image_gallery limit="1"}
                                {if image}
                                    <img src="{image:medium}" alt="">
                                {if:else}
                                    <img src="/images/placeholder-16x9.jpg" alt="">
                                {/if}
                            {/venue_c2_image_gallery}
                        {/if}
                    </div>
                </div>
                <div class="listing__desc grid__column sm--column-12-12 med--column-8-12">
                    <header class="heading">
                        <h1 class="heading__title">{title}</h1>
                        <h2 class="heading__subtitle subtitle--alpha">{venue_listing_sub_title}</h2>
                    </header>
                    <p>{venue_short_description}</p>
                    <p><a href="{page_uri}" class="button button--sm" title="More info">More info</a></p>
                </div>
            </article>

        {/case}

    {/exp:switchee}

    {if embed:count != embed:total_results}
        <div class="divider divider--sm">
            <div class="divider__diamond"></div>
        </div>
    {/if}

{/exp:channel:entries}
