{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:entry_id}"
    site="not none"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    {exp:switchee variable="{channel_short_name}" parse="inward"}

        {case value="news|press_releases"}

            <article class="listing {if embed:count == 1 && get_post:more == ''}is-first{/if} grid__row">
                <span class="label"></span>
                <div class="grid__column sm--column-12-12 med--column-4-12">
                    <div class="listing__media label">
                        {if news_image}
                            <img src="{news_image:medium}" alt="">
                        {if:else}
                            <img src="/images/placeholder-news.jpg" alt="">
                        {/if}
                    </div>
                </div>
                <div class="listing__desc grid__column sm--column-12-12 med--column-5-12">
                    <header class="heading">
                        <h1 class="heading__title">{title}</h1>
                        <h2 class="heading__subtitle subtitle--alpha">{entry_date format="%j%S %F %Y"}</h2>
                    </header>
                    <p>{news_description}</p>
                </div>
                <div class="listing__desc grid__column sm--column-12-12 med--column-3-12">
                    <p><a href="{page_uri}" class="button button--sm button--inline" title="View article">View article</a></p>
                </div>
            </article>

        {/case}

    {/exp:switchee}

    {if embed:count != embed:total_results}
        <div class="divider divider--sm">
            <div class="divider__diamond"></div>
        </div>
    {/if}

{/exp:channel:entries}