{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}
<section class="gallery gallery--carousel js-carousel">
    <div class="gallery__inner">
        {{embed:area}_image_gallery}
            <figure class="gallery__slide">
                <img src="{image:large}" width="1024" height="576" alt="{caption}">
                {if "" != caption}
                <figcaption class="gallery__slide__caption">{caption}</figcaption>
                {/if}
            </figure>
        {/{embed:area}_image_gallery}
    </div>
</section>
{/exp:channel:entries}