{exp:channel:entries cache="yes" refresh="360" channel="settings" limit="1" dynamic="no"}
    {setting_location}
        {exp:essence_weather lat="{lat}" lon="{lon}" date="{current_time format='%Y-%m-%d'}"}
            {if '{temperature}' != ''}
                <aside class="weather">
                    <div class="weather__icon">{temperature}&deg; <span class="icon icon--weather-{symbol}"></span></div>
                    <p class="weather__desc">{embed:description}</p>
                </aside>
            {/if}
        {/exp:essence_weather}
    {/setting_location}
{/exp:channel:entries}