{exp:channel:entries cache="yes" refresh="360"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
    entry_id="{embed:event_id}"
}
    <article class="grid__row listing listing--featured label">
        <span class="label__icon icon--right">Featured</span>

        {!--
        On large screens this <span> will appear .featured__image__col
        The span is position: absolute with a background-size: cover so there is no empty space above or below it.
        The image src from the .featured__image needs to be added to the <span> in order for the image to appear.
        --}
        <span class="featured__image__col grid__column med--column-4-12 column--alpha" style="background-image: url({events_image:medium})" data-img-medium="{events_image:medium}" data-img-large="{events_image:large}"></span>
        {!--
        On small screens this column will appear .featured__image
        --}
        <div class="featured__image grid__column sm--column-12-12 lg--column-4-12 column--alpha">
            <img src="{events_image:medium}" alt="" class="listing__media">
        </div>

        <div class="listing__details grid__column sm--column-12-12 med--column-4-12">
            <header class="heading">
                <h1 class="heading__title">{title}</h1>
                <h2 class="heading__subtitle subtitle--alpha">{exp:essence_site_description:label site_id="{entry_site_id}"} {events_date format="%j%S %F %Y"}
		    {if events_closing_time != '' || events_opening_time != ''}
			| {events_opening_time} 
			{if events_closing_time != ''}
				{if events_opening_time != ''}
					-
				{if:else}
					finishes 
				{/if} 
				{events_closing_time}
			{/if}
		    {/if}
                 </h2>
            </header>
            <p class="listing__desc is-last">{events_short_description}</p>
        </div>
        <aside class="grid__column sm--column-12-12 med--column-4-12">
            <div class="listing__sidebar tickets-box box--alpha">
                {if events_ticket_availability != '-'}
                    {exp:switchee variable="{events_ticket_availability}" parse="inward"}
                        {case value="tba" default="true"}
                            <h3 class="tickets-box__title">Tickets to be announced</h3>
                        {/case}
                        {case value="available"}
                            <h3 class="tickets-box__title">Limited advanced tickets</h3>
                        {/case}
                        {case value="otd"}
                            <h3 class="tickets-box__title">Tickets on the door</h3>
                        {/case}
                        {case value="sold-out"}
                            <h3 class="tickets-box__title">Tickets sold out</h3>
                        {/case}
                        {case value="custom"}
                            <h3 class="tickets-box__title">{events_custom_cta_text}</h3>
                        {/case}
                    {/exp:switchee}
                    <div class="tickets-box__divider divider">
                        <div class="divider__diamond"></div>
                    </div>
                {/if}
                <a href="{page_uri}" class="tickets-box__action button button--beta button--sm">More info &amp; tickets</a>
                {exp:essence_lowest_number values="{events_admission_tickets}{advanced_single_price}|{advanced_group_price}|{otd_price}|{/events_admission_tickets}"}
                    {if '{lowest}' != '0'}
                        <p class="tickets-box__desc">Prices From &pound;{lowest}</p>
                    {/if}
                {/exp:essence_lowest_number}
            </div>
        </aside>
    </article>
{/exp:channel:entries}