{exp:channel:entries cache="yes" refresh="360"
    entry_id="{embed:page_id}"
    limit="1"
    status="{publisher:entry_status}"
    require_entry="yes"
    show_future_entries="{if get_post:publisher_status != ''}yes{/if}"
    show_expired="{if get_post:publisher_status != ''}yes{/if}"
}

    {events_{embed:type}_tickets offset="{embed:offset}" limit="{embed:limit}"}
        <section class="grid__column column--alpha sm--column-12-12 med--column-4-12 {if events_{embed:type}_tickets:total_rows == 1}is-single{if:else}{switch="is-first||is-last"}{/if}">
            <div class="ticket-listing {if events_{embed:type}_tickets:total_rows > 1}{switch="is-first||is-last"}{/if}">
                <div class="ticket-listing__heading {if ticket_popularity == 'Yes'}label{/if}">
                    {if ticket_popularity == 'Yes'}
                        <span class="label__icon icon--right">
                            Popular
                        </span>
                    {/if}
                    <h1 class="ticket-listing__title">{ticket_name}</h1>
                    <div class="ticket-listing__expand">
                        <div class="ticket-listing__divider divider divider--beta">
                            <div class="divider__diamond"></div>
                        </div>
                        <a href="#" class="ticket-listing__toggle js-ticket-toggle" title="What does this include?">What does this include?</a>
                        <div class="ticket-listing__expand__content">
                            <p>{ticket_includes}</p>
                        </div>
                    </div>
                </div>
                <div class="ticket-listing__content">
                    {if advanced_single_description != '' || advanced_single_price != 0}
                        <article class="ticket-listing__ticket {if ticket_availability == 'sold-out' || ticket_availability == 'otd'}is-inactive{/if}">
                            <div class="grid__row">
                                <div class="grid__column column--alpha sm--column-6-12 med--column-6-12">
                                    <header class="ticket-listing__ticket__heading heading ticket--heading">
                                        <h1 class="heading__title">Advanced Single</h1>
                                        <h2 class="heading__subtitle subtitle--alpha">{advanced_single_description}</h2>
                                    </header>
                                </div>
                                <div class="grid__column column--alpha sm--column-6-12 med--column-6-12">
                                    <p class="ticket-listing__ticket__price">
                                        {if ticket_availability == 'tba'}
                                            TBA
                                        {if:elseif ticket_availability == 'sold-out' || ticket_availability == 'otd'}
                                            SOLD OUT
                                        {if:else}
                                            &pound;{advanced_single_price}
                                            <sub>
                                                {if advanced_single_suffix == "none"}
                                                {if:elseif advanced_single_suffix == ""}
                                                    pp
                                                {if:else}
                                                    {advanced_single_suffix}
                                                {/if}
                                            </sub>
                                        {/if}
                                    </p>
                                </div>
                            </div>
                        </article>
                    {/if}
                    {if advanced_group_description != '' || advanced_group_price != 0}
                        <article class="ticket-listing__ticket {if ticket_availability == 'sold-out' || ticket_availability == 'otd'}is-inactive{/if}">
                            <div class="grid__row">
                                <div class="grid__column column--alpha sm--column-6-12 med--column-6-12">
                                    <header class="ticket-listing__ticket__heading heading ticket--heading">
                                        <h1 class="heading__title">Advanced Group</h1>
                                        <h2 class="heading__subtitle subtitle--alpha">{advanced_group_description}</h2>
                                    </header>
                                </div>
                                <div class="grid__column column--alpha sm--column-6-12 med--column-6-12">
                                    <p class="ticket-listing__ticket__price">
                                        {if ticket_availability == 'tba'}
                                            TBA
                                        {if:elseif ticket_availability == 'sold-out' || ticket_availability == 'otd'}
                                            SOLD OUT
                                        {if:else}
                                            &pound;{advanced_group_price}
                                            <sub>
                                                {if advanced_group_suffix == "none"}
                                                {if:elseif advanced_group_suffix == ""}
                                                    pp
                                                {if:else}
                                                    {advanced_group_suffix}
                                                {/if}
                                            </sub>
                                        {/if}
                                    </p>
                                </div>
                            </div>
                        </article>
                    {/if}
                    {if otd_description != '' || otd_price != 0}
                        <article class="ticket-listing__ticket {if ticket_availability == 'sold-out'}is-inactive{/if}">
                            <div class="grid__row">
                                <div class="grid__column column--alpha sm--column-6-12 med--column-6-12">
                                    <header class="ticket-listing__ticket__heading heading ticket--heading">
                                        <h1 class="heading__title">On The Day</h1>
                                        <h2 class="heading__subtitle subtitle--alpha">{otd_description}</h2>
                                    </header>
                                </div>
                                <div class="grid__column column--alpha sm--column-6-12 med--column-6-12">
                                    <p class="ticket-listing__ticket__price">
                                        {if ticket_availability == 'tba'}
                                            TBA
                                        {if:elseif ticket_availability == 'sold-out'}
                                            SOLD OUT
                                        {if:else}
                                            &pound;{otd_price}
                                            <sub>
                                                {if otd_suffix == "none"}
                                                {if:elseif otd_suffix == ""}
                                                    pp
                                                {if:else}
                                                    {otd_suffix}
                                                {/if}
                                            </sub>
                                        {/if}
                                    </p>
                                </div>
                            </div>
                        </article>
                    {/if}
                </div>
            </div>
        </section>
    {/events_{embed:type}_tickets}

{/exp:channel:entries}