<nav id="site-navigation" class="mnav {if embed:show_hero != 'y'}mnav--alpha{/if}" role="navigation">
    <div id="navigation-list" class="mnav__parent__list grid grid--alpha">
        <div class="mnav__parent__item parent--item--alpha">
            <div class="mnav__child__wrapper wrapper--alpha">
                <div class="mnav__child__list child--list--alpha">
                    <a href="/" class="mnav__child__item site-logo" title="The Jockey Club | {site_name}">
                        <img class="site-logo__alpha" src="/images/{site_short_name}/tjc-{site_short_name}-logo.png" alt="The Jockey Club | {site_name}">
                        <img class="site-logo__beta" src="/images/{site_short_name}/tjc-{site_short_name}-logo-beta.png" alt="The Jockey Club | {site_name}">
                    </a>
                </div>
                {exp:essence_taxonomy_id tree_name="primary_navigation" parse="inward"}
                    {exp:taxonomy:nav tree_id="{essence_tree_id}" display_root="no" style="linear" depth="3"}
                        <?php if ("{node_level_count}" == 1): ?>
                            <?php if ("{node_level}" == 1): ?>
                                <ul class="mnav__child__list child--list--beta">
                            <?php elseif ("{node_level}" == 2): ?>
                                <ul class="mnav__gchild__list is-expanded">
                            <?php elseif ("{node_level}" == 3): ?>
                                <ul class="mnav__ggchild__list {node_active_class}">
                            <?php endif; ?>
                        <?php endif; ?>

                        <?php if ("{node_level}" == 1): ?>
                            <li class="mnav__child__item grid__column column--alpha sm--column-12-12 med--column-4-12">
                                <a href="<?php if ('' != '{node_url}'):?>{node_url}<?php else:?>#<?php endif; ?>" class="mnav__child__link {if node_active_class != '' || structure:top:entry_id == node_entry_id }is-active{/if}" title="{node_title}"><em>{node_title}</em> <span class="mnav__child__icon icon--{icon} icon"></span></a>

                            {!-- The li is closed in the conditional after the node_level conditionals --}

                        <?php endif; ?>

                        <?php if ("{node_level}" == 2): ?>

                            <li class="mnav__gchild__item has-children grid__column column--alpha sm--column-12-12 med--column-{if node_level_total_count == 4}3{if:else}4{/if}-12 {if node_active_class != ''}is-expanded{/if}">

                                <?php if ("{show_events_list}" == 1): ?>
                                    <a href="{if '' != node_url}{node_url}{if:else}#{/if}" class="mnav__gchild__link {if node_active_class != ''}is-active{/if}" title="{node_title}"><em>{node_title}</em></a>
                                    {embed="navigation/_header_events"}
                                <?php else: ?>
                                    <a href="{if '' != node_url}{node_url}{if:else}#{/if}" class="{if show_events_list != 1}js-navigation{/if} mnav__gchild__link {if node_active_class != ''}is-active{/if}" title="{node_title}">
                                        <em>{node_title}</em>
                                        {if node_has_children == 'yes'}<span class="mnav__gchild__icon icon"></span>{/if}
                                    </a>
                                <?php endif; ?>

                                {!-- The li is closed in the conditional after the node_level conditionals --}

                        <?php endif; ?>

                        <?php if ("{node_level}" == 3): ?>
                            <?php if ("{bottom_link}" != 1): ?>
                            <li class="mnav__ggchild__item">
                                <a href="{if '' != node_url}{node_url}{if:else}#{/if}" class="mnav__ggchild__link {if node_active_class != ''}is-active{/if}" title="{node_title}"><em>{node_title}</em> <span class="mnav__ggchild__icon icon"></span></a>
                            </li>
                            <?php else: ?>
                                <li class="mnav__ggchild__item ggchild--item--alpha"><a href="{node_url}" title="{node_title}" class="link">{node_title}</a></li>
                            <?php endif; ?>
                        <?php endif; ?>

                        <?php if ('{node_level}' == 1 || '{node_level}' == 2): ?>
                            {children}
                            </li>
                        <?php endif; ?>

                        <?php if ('{node_level_count}' == '{node_level_total_count}'): ?></ul><?php endif; ?>
                    {/exp:taxonomy:nav}
                {/exp:essence_taxonomy_id}
            </div>
        </div>
        <div class="mnav__parent__item parent--item--beta">
            <div class="mnav__child__wrapper wrapper--beta">
                <ul id="clone-navigation" class="mnav__child__list child--list--charlie">
                    {exp:essence_taxonomy_id tree_name="secondary_navigation" parse="inward"}
                        {exp:taxonomy:nav tree_id="{essence_tree_id}" style="linear" depth="3"}

                            <?php if ('{node_level_count}' == 1): ?>
                                <?php if ('{node_level}' == 0): ?>
                                    <li id="clone-more" class="mnav__child__item child--item--beta has-children">
                                <?php endif; ?>
                                <?php if ('{node_level}' == 1): ?>
                                    <ul id="clone-dropdown" class="mnav__gchild__list">
                                <?php endif; ?>
                            <?php endif; ?>

                            <?php if ('{node_level}' == 0): ?>
                                <a href="{if '' != node_url}{node_url}{if:else}#{/if}" class="js-navigation mnav__child__link"><em>{node_title}</em> <span class="mnav__child__icon icon"></span></a>
                                {children}
                            <?php elseif ('{node_level}' == 1): ?>
                                <li class="mnav__gchild__item {if event_button == 1}eventButton{/if}">
                                    <a href="<?php if ('' != '{node_url}'): ?>{node_url}<?php else: ?>#<?php endif;?>" class="mnav__gchild__link <?php if ('{event_button}' != 1): ?>notEventLink<?php endif; ?> <?php if ('{node_active_class}' != ''): ?>is-active<?php endif;?>" title="{node_title}"><em>{node_title}</em></a>
                                </li>
                            <?php endif; ?>

                            <?php if ('{node_level_count}' == '{node_level_total_count}'): ?>
                                <?php if ('{node_level}' == 0): ?>
                                    </li>
                                <?php endif; ?>
                                <?php if ('{node_level}' == 1): ?>
                                    </ul>
                                <?php endif; ?>
                            <?php endif; ?>

                        {/exp:taxonomy:nav}
                    {/exp:essence_taxonomy_id}
                </ul>                
                <ul class="mnav__child__list">
                    <li class="mnav__child__item child--item--charlie">
                        <a href="#" class="js-navigation is-togglable mnav__child__link" data-autofocus="desktop-search"><em class="is-hidden" title="Search">Search</em> <span class="icon icon--search"></span></a>
                        <form action="/search" role="search" class="mnav__search form form--search">
                            <ul>
                                <li class="form__input">
                                    <input type="text" name="q" id="desktop-search" placeholder="Search the site">
                                </li>
                                <li class="form__input is-last">
                                    <input type="hidden" name="site" value="{site_short_name}">
                                    <input type="submit" value="Search" class="button button--beta button--xsm">
                                </li>
                            </ul>
                        </form>
                    </li>
                    <li class="mnav__child__item child--item--delta has-children">
                        <a href="#" class="js-navigation mnav__child__link" title="Change Website"><em>Change Website</em> <span class="mnav__child__icon icon"></span></a>
                        <ul class="mnav__gchild__list">
                            <li class="mnav__gchild__item grid__column column--alpha sm--column-12-12 med--column-6-12">
                                <span class="mnav__gchild__link js-navigation">
                                    <em>Jockey Club Racecourses</em>
                                    <span class="mnav__gchild__icon icon"></span>
                                </span>
                                <ul class="mnav__ggchild__list grid__row">
                                    <li class="mnav__ggchild__item grid__column column--alpha sm--column-12-12 med--column-6-12">
                                        <a href="http://<?php echo ee()->config->config['jump_list']['aintree']; ?>" class="mnav__ggchild__link" title="Aintree"><em>Aintree</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['carlisle']; ?>" class="mnav__ggchild__link" title="Carlisle"><em>Carlisle</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['cheltenham']; ?>" class="mnav__ggchild__link" title="Cheltenham"><em>Cheltenham</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['epsom']; ?>" class="mnav__ggchild__link" title="Epsom"><em>Epsom</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['exeter']; ?>" class="mnav__ggchild__link" title="Exeter"><em>Exeter</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['haydock']; ?>" class="mnav__ggchild__link" title="Haydock"><em>Haydock</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['huntingdon']; ?>" class="mnav__ggchild__link" title="Huntingdon"><em>Huntingdon</em></a>
                                    </li>
                                    <li class="mnav__ggchild__item grid__column column--alpha sm--column-12-12 med--column-6-12">
                                        <a href="http://<?php echo ee()->config->config['jump_list']['kempton']; ?>" class="mnav__ggchild__link" title="Kempton"><em>Kempton</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['marketrasen']; ?>" class="mnav__ggchild__link" title="Market Rasen"><em>Market Rasen</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['newmarket']; ?>" class="mnav__ggchild__link" title="Newmarket"><em>Newmarket</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['nottingham']; ?>" class="mnav__ggchild__link" title="Nottingham"><em>Nottingham</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['sandown']; ?>" class="mnav__ggchild__link" title="Sandown Park"><em>Sandown Park</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['warwick']; ?>" class="mnav__ggchild__link" title="Warwick"><em>Warwick</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['wincanton']; ?>" class="mnav__ggchild__link" title="Wincanton"><em>Wincanton</em></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mnav__gchild__item grid__column column--alpha sm--column-12-12 med--column-6-12">
                                <span class="mnav__gchild__link js-navigation">
                                    <em>Other Jockey Club Sites</em>
                                    <span class="mnav__gchild__icon icon"></span>
                                </span>
                                <ul class="mnav__ggchild__list">
                                    <li class="mnav__ggchild__item">
                                        <a href="http://<?php echo ee()->config->config['jump_list']['group']; ?>" class="mnav__ggchild__link" title="Jockey Club Group"><em>Jockey Club Group</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['estates']; ?>" class="mnav__ggchild__link" title="Jockey Club Estates"><em>Jockey Club Estates</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['rooms']; ?>" class="mnav__ggchild__link" title="Jockey Club Rooms"><em>Jockey Club Rooms</em></a>
                                        <a href="http://<?php echo ee()->config->config['jump_list']['stud']; ?>" class="mnav__ggchild__link" title="National Stud"><em>National Stud</em></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <?php if ('{site_id}' == 1 || '{site_id}' == 18 || '{site_id}' == 16): ?>                    
                        <?php if ('{logged_in}' != ''): ?> 
                            <li class="mnav__child__item child--item--delta has-children">
                                <a href="{path='LOGOUT'}" title="Log out" class="notEventLink mnav__child__link mnav_logout"><em>Log out</em></a>
                            </li>
                            <li class="mnav__child__item child--item--delta has-children">
                                <a href="{path='login/change_details'}" title="Change Detail" class="notEventLink mnav__child__link user_login_name"><em>{logged_in_username}</em> <span class="divider-line">|</span></a>
                            </li>                                                                                    
                        <?php endif; ?>
                        <?php if ('{logged_out}' != ''): ?>
                            <li class="mnav__child__item child--item--delta has-children"> 
                                <a href="{path='login'}" class="notEventLink mnav__child__link"><em>Login</em></a>
                            </li>
                        <?php endif; ?>
                    <?php endif; ?>
                </ul>
            </div>
        </div>
    </div>
</nav>