{preload_replace:chnl="login"}

{embed="layout/_header" page_id="{entry_id}"}

 {!-- Need to redirect on home page if user is already login --}
{if logged_in}
    {redirect='/'}
{/if}

<?php
     $heading = 'Register';
     $sub_heading = '';
     $description = '';
 ?>
{exp:channel:entries cache="yes" refresh="360" channel="settings" limit="1" dynamic="no"}
    {member_pages_details search:page="Register"}
        <?php
            $heading = '{member_pages_details:heading}';
            $sub_heading = '{member_pages_details:sub_heading}';
            $description = '{member_pages_details:description}';
        ?>
    {/member_pages_details}
{/exp:channel:entries}

<section class="page-content__inner grid">
    {embed="layout/_content-area" number="c1" type="intro-alpha" page_id="{entry_id}" chnl="{chnl}" breadcrumbs="true"}

    <div class="grid__row box">
        <div class="grid__column grid__column sm--column-12-12 med--column-12-12">
            <header class="heading line--heading">
                <h1 class="heading__title member-heading">
                    <span class="line__span"><?php echo $heading; ?></span>
                </h1>
                <?php if ($sub_heading) { ?>
                <h2 class="heading__subtitle subtitle--alpha">
                    <?php echo $sub_heading; ?>
                </h2>
                <?php } ?>
            </header>
        </div>

        <div class="grid__column grid__column sm--column-12-12 med--column-8-12">

            <?php if ($description) { ?>
                <p><?php echo $description; ?></p>
            <?php } ?>

            {exp:freemember:register return="login?register=yes" error_handling="inline" error_delimiters='<span class="error">|</span>'}
                <div class="member-form member-form__login grid">
                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <label>Username</label>
                        {field:username}
                        <span class="error__msg">{error:username}</span>
                    </div>

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <label>Email</label>
                        {field:email}
                        <span class="error__msg">{error:email}</span>
                    </div>

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <label>Password</label>
                        {field:password}
                        <span class="error__msg">{error:password}</span>
                    </div>

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <label>Confirm Password</label>
                        {field:password_confirm}
                        <span class="error__msg">{error:password_confirm}</span>
                    </div>

                    {!-- added Date of birth field only for stud site --}
                    {if site_id == 16}
                        <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                            <label>Date of Birth</label>

                            <select name="bday_y">
                                <option value="">Year</option>
                                <?php for ($i = date('Y'); $i > date('Y')-100; $i--) { ?>
                                    <option value="<?php echo $i; ?>" <?php if ($i == '{bday_y}') { echo "selected"; } ?>><?php echo $i; ?></option>
                                <?php } ?>
                            </select>

                            <select name="bday_m">
                                <option value="">Month</option>
                                <option value="01" <?php if ("01" == '{bday_m}') { echo "selected"; } ?>>January</option>
                                <option value="02" <?php if ("02" == '{bday_m}') { echo "selected"; } ?>>February</option>
                                <option value="03" <?php if ("03" == '{bday_m}') { echo "selected"; } ?>>March</option>
                                <option value="04" <?php if ("04" == '{bday_m}') { echo "selected"; } ?>>April</option>
                                <option value="05" <?php if ("05" == '{bday_m}') { echo "selected"; }?>>May</option>
                                <option value="06" <?php if ("06" == '{bday_m}') { echo "selected"; }?>>June</option>
                                <option value="07" <?php if ("07" == '{bday_m}') { echo "selected"; }?>>July</option>
                                <option value="08" <?php if ("08" == '{bday_m}') { echo "selected"; }?>>August</option>
                                <option value="09" <?php if ("09" == '{bday_m}') { echo "selected"; }?>>September</option>
                                <option value="10" <?php if ("10" == '{bday_m}') { echo "selected"; }?>>October</option>
                                <option value="11" <?php if ("11" == '{bday_m}') { echo "selected"; }?>>November</option>
                                <option value="12" <?php if ("12" == '{bday_m}') { echo "selected"; }?>>December</option>
                            </select>

                            <select name="bday_d">
                                <option value="">Day</option>
                                <?php for ($i = 1; $i <=31; $i++) { ?>
                                <option value="<?php echo $i; ?>" <?php if ($i == '{bday_d}') { echo "selected"; }?>><?php echo $i; ?></option>
                                <?php } ?>
                            </select>

                            <span class="error__msg">
                                {error:bday_d}
                            </span>
                        </div>
                    {/if}
                                 
                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        {if captcha}
                        Please enter the following characters into the box below:<br />
                        {captcha}<br />
                        {field:captcha}<br />
                        <span class="error__msg">{error:captcha}</span>
                        {/if}
                    </div>

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <input class="member-form__input-submit" type="submit" name="submit" value="Register">
                    </div>

                    <div class="member-form__field grid__column column--alpha sm--column-12-12 med--column-9-12">
                        <a class="" href="{path='login/forgot_password'}">Forgot your password?</a>
                    </div>
                </div>
            {/exp:freemember:register}

        </div>

        <div class="grid__column grid__column sm--column-12-12 med--column-4-12">
            <div class="member-form__sub-item">
                <h3>Already have an account?</h3>
                <a href="{path='login'}">SIGN IN</a>
            </div>
        </div>

    </div>

</section>

{embed="layout/_footer"}