{exp:channel:entries cache="yes" refresh="360" channel="settings" limit="1" dynamic="no"}

<?php $race_default_cat = "{default_race_event_category}";

    // in case this field does not exist in system
    if ($race_default_cat == '{'.'default_race_event_category'.'}') {
        $race_default_cat = '';
    }
?>
{/exp:channel:entries}

{if ajax}
    {
        "filters" : {
            "#results-filters" :
                {essence_json}
                    {embed="event/_filters" default_race_category="<?php echo $race_default_cat?>"}
                {/essence_json}
        },
        "containers": {
            "#primary-listings":
                {exp:switchee variable="{get_post:type}" parse="inward"}

                    {case value="races" default="yes"}
                        {essence_json}
                            {if get_post:more == ''}
                                <header class="heading line--heading">                                    
                                    {if site_short_name == 'group'}
                                        <h1 class="heading__title">
                                            <span class="line__span">
                                                {if get_post:event_category == ''}
                                                    Race Days
                                                {if:else}
                                                    {exp:channel:entries cache="yes" refresh="360" channel="event_categories" limit="1" site="sandown" dynamic="no" url_title="{get_post:event_category}"}
                                                        {title}
                                                    {/exp:channel:entries}
                                                {/if}
                                            </span>
                                        </h1>
                                    {if:else}
                                        <h1 class="heading__title"><span class="line__span">Races</span></h1>
                                        <h2 class="heading__subtitle subtitle--alpha">{if get_post:venue != ''}{exp:essence_site_description site_name="{get_post:venue}"}{if:else}{exp:essence_site_description}{/if} Racecourse</h2>
                                    {/if}
                                </header>
                            {/if}
                            {embed="event/_entries-loop" size="medium" type="races" default_race_category="<?php echo $race_default_cat?>"}
                        {/essence_json}
                    {/case}

                    {case value="events"}
                        {essence_json}
                            {if get_post:more == ''}
                                <header class="heading line--heading">
                                    {if site_short_name == 'group'}
                                        <h1 class="heading__title">
                                            <span class="line__span">
                                                {if get_post:event_category == ''}
                                                    Race Days
                                                {if:else}
                                                    {exp:channel:entries cache="yes" refresh="360" channel="event_categories" limit="1" site="sandown" dynamic="no" url_title="{get_post:event_category}"}
                                                        {title}
                                                    {/exp:channel:entries}
                                                {/if}
                                            </span>
                                        </h1>
                                    {if:else}
                                        <h1 class="heading__title"><span class="line__span">Events</span></h1>
                                    <h2 class="heading__subtitle subtitle--alpha">{if get_post:venue != ''}{exp:essence_site_description site_name="{get_post:venue}"}{if:else}{exp:essence_site_description}{/if} Racecourse</h2>
                                    {/if}                                    
                                </header>
                            {/if}
                            {embed="event/_entries-loop" size="medium" type="events" default_race_category="<?php echo $race_default_cat?>"}
                        {/essence_json}
                    {/case}

                {/exp:switchee},
            "#secondary-listings" :
                {exp:switchee variable="{get_post:type}" parse="inward"}

                    {case value="races" default="yes"}
                        {essence_json}
                            {if get_post:more == ''}
                                <header class="heading line--heading">
                                    <h1 class="heading__title"><span class="line__span span--alpha">You might also be interested in our upcoming events</span></h1>
                                    <h2 class="heading__subtitle subtitle--alpha">
                                    {if site_short_name == 'group'}
                                        {if get_post:venue != '' &&  get_post:venue != 'all'}
                                            {exp:essence_site_description site_name="{get_post:venue}"} Racecourse
                                        {if:else}
                                            All Racecourses
                                        {/if}
                                    {if:else}
                                        {exp:essence_site_description} Racecourse
                                    {/if}
                                    </h2>
                                </header>
                            {/if}
                            {embed="event/_entries-loop" upcoming="true" size="small" type="events"}
                        {/essence_json}
                    {/case}

                    {case value="events"}
                        {essence_json}
                            {if get_post:more == ''}
                                <header class="heading line--heading">
                                    <h1 class="heading__title"><span class="line__span span--alpha">You might also be interested in our upcoming races</span></h1>
                                    <h2 class="heading__subtitle subtitle--alpha">
                                    {if site_short_name == 'group'}
                                        {if get_post:venue != '' &&  get_post:venue != 'all'}
                                            {exp:essence_site_description site_name="{get_post:venue}"} Racecourse
                                        {if:else}
                                            All Racecourses
                                        {/if}
                                    {if:else}
                                        {exp:essence_site_description} Racecourse
                                    {/if}</h2>
                                </header>
                            {/if}
                            {embed="event/_entries-loop" upcoming="true" size="small" type="races"}
                        {/essence_json}
                    {/case}

                {/exp:switchee}
        },
        "fields" : { "from" : {exp:essence_filter parse="inward"}{next_from}{/exp:essence_filter} }
    }

{if:else}
    {embed="layout/_header"}

    <section class="page-content__inner grid">

        {exp:channel:entries cache="yes" refresh="360" limit="1" require_entry="yes"}

            <div class="grid__row box box--sm">
                <div class="grid__column sm--column-12-12 med--column-12-12">

                    {embed="navigation/_breadcrumbs"}

                    <header class="heading line--diamond--heading">

                        <h1 class="heading__title title--delta">
                            <span class="diamond__group group--left">
                                <span class="diamond__icon"></span>
                            </span>
                            What's on
                            <span class="diamond__group group--right">
                                <span class="diamond__icon"></span>
                            </span>
                        </h1>

                        <h2 class="heading__subtitle">At <span id="heading-racecourse">{if get_post:venue != ''}{exp:essence_site_description site_name="{get_post:venue}"}{if:else}{exp:essence_site_description}{/if} Racecourse</span></h2>

                    </header>

                </div>
            </div>

            {if get_post:venue == ''}
                {listing_page_featured_event}
                    {embed="event/_featured" event_id="{entry_id}"}
                {/listing_page_featured_event}
            {/if}

        {/exp:channel:entries}

    </section>

    <form id="ajax-form" action="{structure:page:uri}" method="get" class="page-content__inner results-filter">

        <a href="#filters" class="results-filter__toggle is-hidden-large" data-toggle>
            Refine by <span class="results-filter__toggle__marker"><span class="results-filter__toggle__icon icon icon--arrow-down-alpha"></span></span>
        </a>

        <div id="results-filters">
            {embed="event/_filters"  default_race_category="<?php echo $race_default_cat?>"}
        </div>

        <section class="grid">

            <div class="grid__row">

                {exp:switchee variable="{get_post:type}" parse="inward"}

                    {case value="events"}

                        <div class="grid__column column--alpha sm--column-12-12 med--column-8-12">
                            <div id="primary-listings" class="box box--beta box--content no--bl">
                                <header class="heading line--heading">
                                    {if site_short_name == 'group'}
                                        <h1 class="heading__title">
                                            <span class="line__span">
                                                {if get_post:event_category == ''}
                                                    Race Days
                                                {if:else}
                                                    {exp:channel:entries cache="yes" refresh="360" channel="event_categories" limit="1" site="sandown" dynamic="no" url_title="{get_post:event_category}"}
                                                        {title}
                                                    {/exp:channel:entries}
                                                {/if}
                                            </span>
                                        </h1>
                                    {if:else}
                                        <h1 class="heading__title"><span class="line__span">Events</span></h1>
                                    <h2 class="heading__subtitle subtitle--alpha">{if get_post:venue != ''}{exp:essence_site_description site_name="{get_post:venue}"}{if:else}{exp:essence_site_description}{/if} Racecourse</h2>
                                    {/if}                                    
                                </header>
                                {embed="event/_entries-loop" size="medium" type="events"  default_race_category="<?php echo $race_default_cat?>"}
                            </div>
                            <div class="box text-center">
                                {exp:essence_filter parse="inward"}
                                    <input type="hidden" name="from" value="{next_from}">
                                {/exp:essence_filter}
                                <input type="submit" name="more" value="View more" class="listing-page__submit button button--sm">
                            </div>
                        </div>

                        <div class="grid__column column--alpha sm--column-12-12 med--column-4-12">
                            <div id="secondary-listings" class="box box--alpha box--content no--br no--bl">
                                <header class="heading line--heading">
                                    <h1 class="heading__title"><span class="line__span span--alpha">You might also be interested in our upcoming races</span></h1>
                                    <h2 class="heading__subtitle subtitle--alpha">
                                    {if site_short_name == 'group'}
                                        {if get_post:venue != '' &&  get_post:venue != 'all'}
                                            {exp:essence_site_description site_name="{get_post:venue}"} Racecourse
                                        {if:else}
                                            All Racecourses
                                        {/if}
                                    {if:else}
                                        {exp:essence_site_description} Racecourse
                                    {/if}</h2>
                                </header>
                                {embed="event/_entries-loop" upcoming="true" size="small" type="races" }
                            </div>
                        </div>

                    {/case}

                    {case value="races" default="yes"}

                        <div class="grid__column column--alpha sm--column-12-12 med--column-8-12">
                            <div id="primary-listings" class="box box--beta box--content no--bl">
                                <header class="heading line--heading">
                                    {if site_short_name == 'group'}
                                        <h1 class="heading__title">
                                            <span class="line__span">
                                                {if get_post:event_category == ''}
                                                    Race Days
                                                {if:else}
                                                    {exp:channel:entries cache="yes" refresh="360" channel="event_categories" limit="1" site="sandown" dynamic="no" url_title="{get_post:event_category}"}
                                                        {title}
                                                    {/exp:channel:entries}
                                                {/if}
                                            </span>
                                        </h1>
                                    {if:else}
                                        <h1 class="heading__title"><span class="line__span">Races</span></h1>
                                        <h2 class="heading__subtitle subtitle--alpha">{if get_post:venue != ''}{exp:essence_site_description site_name="{get_post:venue}"}{if:else}{exp:essence_site_description}{/if} Racecourse</h2>
                                    {/if}
                                </header>
                                {embed="event/_entries-loop" size="medium" type="races"  default_race_category="<?php echo $race_default_cat?>"}
                            </div>
                            <div class="box text-center">
                                {exp:essence_filter parse="inward"}
                                    <input type="hidden" name="from" value="{next_from}">
                                {/exp:essence_filter}
                                <input type="submit" name="more" value="View more" class="listing-page__submit button button--sm">
                            </div>
                        </div>

                        <div class="grid__column column--alpha sm--column-12-12 med--column-4-12 is-hidden-small">
                            <div id="secondary-listings" class="box box--alpha box--content no--br no--bl">
                                <header class="heading line--heading">
                                    <h1 class="heading__title"><span class="line__span span--alpha">You might also be interested in our upcoming events</span></h1>
                                    <h2 class="heading__subtitle subtitle--alpha">
                                    {if site_short_name == 'group'}
                                        {if get_post:venue != '' &&  get_post:venue != 'all'}
                                            {exp:essence_site_description site_name="{get_post:venue}"} Racecourse
                                        {if:else}
                                            All Racecourses
                                        {/if}
                                    {if:else}
                                        {exp:essence_site_description} Racecourse
                                    {/if}</h2>
                                </header>
                                {embed="event/_entries-loop" upcoming="true" size="small" type="events"}
                            </div>
                        </div>

                    {/case}

                {/exp:switchee}

            </div>
        </section>

    </form>

    {embed="layout/_footer"}

{/if}
